<!DOCTYPE html>
<html lang="en" data-ng-app="CloudBoostDashboard">

<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/images/icon.png">
	<title>CloudBoost Dashboard</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.lukej.me/jquery.gritter/1.7.4/css/jquery.gritter.css" />
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">-->

  <link rel="stylesheet" href="assets/fonts/font-awesome-4/css/font-awesome.min.css">
  
  <link href="bower_components/animate-css/animate.min.css" rel="stylesheet" />  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
  <link href="assets/css/kendo.common.min.css" rel="stylesheet">    
  <link href="assets/css/kendo.default.min.css" rel="stylesheet">
  <link href="node_modules/ng-prettyjson/dist/ng-prettyjson.min.css" rel="stylesheet"/>  
  <link href="assets/js/jquery.x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> 
  <link rel="stylesheet" href="assets/js/ui-grid/ui-grid-unstable.css" type="text/css">  
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
  <link href="bower_components/angular-ui-switch/angular-ui-switch.css" rel="stylesheet"/>
  <link rel="stylesheet" href="assets/js/jquery-resizable-columns/dist/jquery.resizableColumns.css">
  <link href="assets/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" rel="stylesheet"/>
  <link href="assets/js/prettyPhoto_compressed_3.1.6/css/prettyPhoto.css" rel="stylesheet"/>
	<link href="assets/css/style.css" rel="stylesheet"/>
  <link href="assets/css/data.css" rel="stylesheet"/>
    
  <!-- start Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("be05a4d590e8bc9d5f2cd6b3b3ffb78b");</script>
<!-- end Mixpanel -->

<!--CloudBoost Javscript SDK-->
<script src="https://cloudboost.io/js-sdk/1.0.0.js"></script>

    
</head>
<body class="animated" data-ng-controller="indexController">

<div id="cl-wrapper">
  <!--sidepanel-->
  <div class="cl-sidebar" ng-show="!isFullScreen">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <!--SideBar Logo-->
          <div class="sidebar-logo" ng-show="!dataLoading">
            <div class="logo">
            </div>
          </div>
          <!--/SideBar Logo-->

          <!--SideBar Spinner-->
          <div class="sidebar-spinner" ng-show="dataLoading">
            <div><i class="fa fa-spinner fa-spin fa-2x"></i></div>
          </div>
          <!--/SideBar Spinner-->

          <ul class="cl-vnavigation">
            <li  ng-class="{active:page=='apps','menu-active':page=='apps'}" data-toggle="tooltip" data-placement="right" title="Apps" tooltip><a href="#/"><i class="fa fa-th-large "></i><span>Apps</span></a>             
            </li>

             <li ng-class="{active:page=='tableDesigner','menu-active':page=='tableDesigner'}" ng-show="currentProject" data-toggle="tooltip" data-placement="right" title="Table Designer" tooltip><a href="#/{{currentProject.appId}}/data/designer/table/"  ng-click="toggleSideMenu()"><i class="fa fa-pencil-square"></i><span>Table Designer</span></a>   
            </li>

            <li ng-class="{active:page=='dataBrowser','menu-active':page=='dataBrowser'}" ng-show="currentProject" data-toggle="tooltip" data-placement="right" title="Data Browser" tooltip><a href="#/{{currentProject.appId}}/data/browser/table/" ng-click="toggleSideMenu()"><i class="fa fa-table"></i><span>Data Browser</span></a>   
            </li>

            <li data-toggle="tooltip" data-placement="right" title="Documentation" tooltip><a href="https://docs.cloudboost.io" target="blank"><i class="fa fa-book" ></i><span>Docs</span></a>   
            </li>

            <li ng-class="{active:page=='pricing','menu-active':page=='pricing'}" ng-show="currentProject" data-toggle="tooltip" data-placement="right" title="Billing" tooltip><a  href="#/{{currentProject.appId}}/pricing"><i class="fa fa-credit-card"></i><span>Billing</span></a>
            </li>

            <li ng-class="{active:page=='appSettings','menu-active':page=='appSettings'}" ng-show="currentProject" data-toggle="tooltip" data-placement="right" title="Settings" tooltip><a href="#/{{currentProject.appId}}/settings" ng-click="toggleSideMenu()"><i class="fa fa-cog"></i><span>Settings</span></a>   
            </li>          

            

          </ul>

        </div>
      </div>
      <div class="text-right collapse-button" ng-show="!currentProject" style="padding:7px 9px;">        
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>  
  </div>
  <!--/sidepanel-->

	<div  class="container-fluid" id="pcont">   
   <!-- TOP NAVBAR -->
  <div id="head-nav" class="navbar navbar-default" ng-show="!isFullScreen">
    <div class="container-fluid">
      <div class="navbar-collapse">

        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
            <a class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="assets/images/anonymous.jpg"><span>{{userFullname}}</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">          
              <li><a ng-click="logOut()">Sign Out</a></li>
            </ul>
          </li>
        </ul>	
        <ul class="nav navbar-nav not-nav">
          <li class="button">
            <h2>{{currentProject.name || "Your Apps"}}</h2>
          </li>
        </ul>
        
        </div><!--/.nav-collapse animate-collapse -->
    </div>
  </div>
  
  <!-- /TOP NAVBAR -->  
  <ui-view></ui-view>   
	
</div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-cookies.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="bower_components/angular-underscore/angular-underscore.min.js"></script>

<script src="https://cdn.rawgit.com/gdi2290/angular-intercom/master/angular-intercom.min.js"></script> 	
<script src="assets/js/jquery.pushmenu/js/jPushMenu.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.6/javascripts/jquery.nanoscroller.min.js"></script>	  
<script type="text/javascript" src="https://cdn.lukej.me/jquery.gritter/1.7.4/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="assets/js/behaviour/core.js"></script>
<script src="assets/js/kendo.all.min.js"></script>

<script src="bower_components/angular-ui-switch/angular-ui-switch.min.js"></script> 
<script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>

<script src="node_modules/ng-prettyjson/dist/ng-prettyjson.min.js"></script>   
<script src="node_modules/ng-prettyjson/src/ace.js"></script> 
<script src="node_modules/ng-prettyjson/src/mode-json.js"></script>
<script src="assets/js/behaviour/dashboard.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="node_modules/randomcolor/randomColor.js"></script>

<!--table edit-->
 <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="assets/js/jquery.x-editable/src/inputs/combodate/lib/moment.min.js"></script>
<script src="assets/js/jquery.x-editable/src/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="assets/js/jquery.x-editable/src/inputs-ext/typeaheadjs/typeaheadjs.js"></script>-->
<!--/table edit-->

<!--UI Grid-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
<script src="assets/js/ui-grid/ui-grid-unstable.js"></script>
<script src="assets/js/colResizable1/colResizable-1.5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.14/store.min.js"></script> 
<script src="assets/js/jquery-resizable-columns/dist/jquery.resizableColumns.min.js"></script>
<script src="assets/js/malihu-custom-scrollbar-plugin/js/minified/jquery.mousewheel.min.js"></script>
<script src="assets/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="bower_components/ng-focus-on/ng-focus-on.min.js"></script>
<script src="assets/js/prettyPhoto_compressed_3.1.6/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<!--/UI Grid-->

<!--Stripe-->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="bower_components/stripe-angular/stripe-angular.js"></script>
<!--/Stripe-->

<!--Chart-->
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<!--/Chart-->

<!--Files-->
<script src="assets/js/uploadfy/jquery.uploadify.min.js"></script>
<script src="assets/js/jQuery-File-Upload-9.9.3/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js"></script>
<script src="assets/js/jQuery-File-Upload-9.9.3/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js"></script>
<script src="assets/js/jQuery-File-Upload-9.9.3/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js"></script>
<!--/Files-->

<!--Angular Main-->
<script type="text/javascript" src="app/config/app.js"></script>
<script type="text/javascript" src="app/config/route.js"></script>  

<!-- Services -->
<script src="app/services/projectService.js"></script>  
<script src="app/services/utilityService.js"></script> 
<script src="app/services/tableTypeService.js"></script>       
<script src="app/services/componentTypeService.js"></script>
<script src="app/services/columnDataTypeService.js"></script>  
<script src="app/services/tableErrorService.js"></script>  
<script src="app/services/tableService.js"></script>  
<script src="app/services/userService.js"></script>
<script src="app/services/projectDetailsService.js"></script>  
<script src="app/services/paymentService.js"></script>
<script src="app/services/invoiceService.js"></script>
<script src="app/services/cloudObjectService.js"></script>     

<!--Controllers-->
<script type="text/javascript" src="app/controllers/indexController.js"></script>
<script type="text/javascript" src="app/controllers/appsController.js"></script>
<script type="text/javascript" src="app/controllers/tableDesignerController.js"></script>
<script type="text/javascript" src="app/controllers/dataController.js"></script>
<script type="text/javascript" src="app/controllers/dataBrowserController.js"></script>
<script type="text/javascript" src="app/controllers/appSettingsController.js"></script>
<script type="text/javascript" src="app/controllers/pricingController.js"></script>
<script type="text/javascript" src="app/controllers/dataViewController.js"></script>

<!--Directives-->
<script type="text/javascript" src="app/directives/common/common.js"></script>
<!--
<script type="text/javascript" src="app/directives/xeditable/table-xeditable.js"></script>
<script type="text/javascript" src="app/directives/xeditable/column-xeditable.js"></script>-->
<script type="text/javascript" src="app/directives/uploadify/uploadify.js"></script>
<script type="text/javascript" src="app/directives/uploadify/fileupload.js"></script>
<script type="text/javascript" src="app/directives/uploadify/fileuploadModal.js"></script>
<script type="text/javascript" src="app/directives/datetime/datetimeDirective.js"></script>
<script type="text/javascript" src="app/directives/datetime/datetimeParseDirective.js"></script>

<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 359813771]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent) window.attachEvent('onload', __ldinsp);
else window.addEventListener('load', __ldinsp, false);
})();
</script>
<!-- End Inspectlet Embed Code -->

</body>

</html>
