.appSettings-wrap{
  width: 100%;  
  height: auto;
  height: 88vh;
  background-color: white;  
}
.appSettings-maincontent{
  width:76.5%;
  margin-left:1.5%;   
  overflow-y: scroll;
  height: 87.8vh;
  background-color: white;  
}

.appSettings{
  width: 22%;   
}

.app-settings-menusectionwrap{  
  width: 100%; 
  height: 100%; 
}

.app-settings-menusection{
  width: 100%;  
  height: 558px;
  border-right:1px solid #D3D3D3;    
}

.eachSetMenu{
  height: 44px; 
  padding-left: 12px;
  cursor: pointer;  
  width: 100%;
  color:#AFAFAF;
}

.hoverAppSettingsMenu{
  background-color:#F9F9F9;
  color:#606060; 
}

.activeAppSettingsMenu{
  background-color:#EDEDED;
  color:#606060; 
}

.while-settings-loading{
  width: 100%;
  height: 90vh;  
}

.app-editing-section{
  width: 100%;
  height: auto; 
  padding-top: 30px;
  padding-left: 15px; 
  padding-bottom: 34px;  
}

.appprod-switch{
  width: 80px;
}
.appprod-switch.checked small{
  margin-left:28px;
}
.actual-fields{
  width: 94%;    
  border-radius: 2px;   
}

.cliplogin-url-btn{
  width:100%;
  height:100%;
  border-radius:2px;
  border:1px solid #EDEDED;
  background-color:#EDEAEA;
}

.cliplogin-url-btn:hover{
  background-color:#B7B7B7;
}
.login-clipper-clicked{
  background-color:#B7B7B7;
}

/*Auth Login*/
.login-btn{
        border-top-left-radius:3px; 
        border-bottom-left-radius:3px; 
        width:100px;
        height:30px;
        color:#5c666f;
        background-color: white;
        border: 1px solid #5c666f;
    } 
    .sinup-btn{
        border-top-right-radius:3px; 
        border-bottom-right-radius:3px;
        width:100px;
        height:30px;
        color:#5c666f; 
        background-color: white; 
        border: 1px solid #5c666f;      
    }
    .btn-active{
        background-color: #5c666f;
        color:white;
    }
    .social-btns{
        width: 40px;
        height: 40px;        
        margin-left: 10px;
        margin-top: 15px;
        border-radius: 3px;
        cursor: pointer;
    }
    .social-btns:first-child{
        margin-left:0px;
    }
    .input-field{
        width: 100%;
        border:1px solid #f1f1f1;
        margin-top: 10px;
    }
    .input-field:first-child{
        margin-top: 0px;
    }

    .input-field-error{
        border:1px solid red;
        animation: zoominout 0.5s both ease 0.1s;        
    }
    
    .loader-circle{
        width: 50px;
        height: 50px;
        border:2px solid #E0E0E0;
        border-radius: 25px; 
        border-top-color:gray;              
    }

    .advanced {        
        animation-name: spin; 
        animation-duration: 1s; /* 1 seconds */
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
    }

    .final-btn{
        background-color: blue;
        padding: 15px;
        cursor: pointer;
    }
    .final-btn:hover{
        background-color: red;       
    }

    .resetpwd-final-btn{
        background-color: blue;
        padding: 15px;
        cursor: pointer;
    }
    .resetpwd-final-btn:hover{
        background-color: red;       
    }
    
    .facebook{
        background-color: #4863ae;
        color:white;
        font-size: 18px;
    }
    .twitter{
        background-color: #46c0fb;
        color:white;
        font-size: 18px;
    }
    .github{
        background-color: #eeeeee;
        color:black;
        font-size: 18px;
    }
    .google{
        background-color: #4285f4;
        color:white;
        font-size: 18px;
    }

    .linkedin{
        background-color: #0177B5;
        color:white;
        font-size: 18px;
    }

    /*KEY FRAMES*/
    @keyframes zoominout {     

        0% {
            transform:scale(1,1);
        }
        50% {
            transform:scale(1.1,1.1);
        }
        100% {      
           transform:scale(1,1);
        }
    }
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }    
/*End Auth Login*/