.queues-page{	
	height:89.5vh !important;
	overflow: auto;
}

.new-queues-page{	
	/*height:89.5vh !important;
	overflow: auto;*/
}
.create-queue-dispplay-wrapper{
	height: 33px;
	width: 100%;
	background-color: white;	
}

.create-cache-dispplay-wrapper{
	height: 33px;
	width: 100%;		
}
.createqueue-display-input{
	height: 100% !important;
	width: 100%;
	border:1px solid #D9EDF4;
	border-radius: 1px;
	font-size: 14px;
	padding-left: 7px;	

}

.createqueue-display-input:focus{
	outline: none;
}

.create-queue-open-wrapper{
	height: 70px;
	width: 100%;
	border:1px solid #D9EDF4;
	background-color: white;
}
.createqueue-openform{
	height:100%;
	width:100%;	
}

.createqueue-open-input-wrap{
	border-bottom: 1px solid #E8E9EA;
}

.createqueue-open-input{
	height: 100% !important;
	width: 100%;
	border:none;	
	border-radius: 1px;
	font-size: 14px;
	padding-left: 7px;	

}

.createqueue-open-input:focus{
	outline: none;
}	

.select-queuetype{
	width: 100%;
	height:100%;
	border: 1px solid #E8E9EA;
}

.select-queuetype:focus{
	outline: none;
}
.create-queue-btn{
	width: 100%;
	height:100%;
	border: none;
	background-color:#4892F9;  
	color:white;
	border-radius: 2px;
}
.create-queue-btn:focus{
	outline: none;
}
.create-cache-btn{
	width: 100%;
	height:100%;
	border: none;
	background-color:#027E91;  
	color:white;
}
.create-cache-btn:focus{
	outline: none;
}

.rolling-queuelist-wrap{
	height: auto;
	width: 100%;
	margin-top:30px;		
}

.queue-list-table{
	height: 100%;
	width: 100%;
	border: none !important;
}
.queue-list-table tr{
	border:1px solid #E5E3E3 !important;
	cursor: pointer;
}

.queue-list-table td{
	border:none !important;
}

.onActive{
	background-color: #F2EFEF;
}

.queue-content-wrap{
	height: 50px;
	width: 100%;		
}

.queue-logo{
	width: 50px;
	height: 50px;
}

.queue-content{
	width: 84%;
	height: 50px;	
	margin-left: 6px;
	font-family: 'Roboto', sans-serif;	
}
.queue-acl-wrap{	
	margin-top:-5px !important;
}
.queue-settings{
	width:16px;
	height: 100%;	
}
.queuesetting-popup{
	height: 78.5px;
	width: 150px;
	background-color: white;	
	position: absolute;
	right:-1px;
	 -webkit-box-shadow: 0 0 1px 2px #C0C0C0;
    -moz-box-shadow: 0 0 1px 2px #C0C0C0;
    box-shadow: 0 0 1px 2px #C0C0C0;
    z-index: 9;	
}
.cachesetting-popup{
	height: 53px;
	width: 150px;
	background-color: white;	
	position: absolute;
	right:-1px;
	 -webkit-box-shadow: 0 0 1px 2px #C0C0C0;
    -moz-box-shadow: 0 0 1px 2px #C0C0C0;
    box-shadow: 0 0 1px 2px #C0C0C0;
    z-index: 9;	
}
.setting-menu-item{
	padding-bottom: 2px;
	cursor: pointer;
}
.setting-menu-item:hover{
	background-color:#EEF1F1;	
	color:black !important;
}

.queue-msg-list{
	height: auto;
	width: 100%;
	
	margin: 0;
}
.addmsg-init-btn{
	background-color:#4892F9; 
	color: white;
	border: none;
	border-radius: 2px;
	height: 26px;

}

.addmsg-init-btn:focus{
	outline: none;
}
.defaultInput-txt{
	border: none;
	padding-left: 3px;
}
.defaultInput-txt:focus{
	outline: none;
}

.queue-msg-table{
	height: auto;
	width: 100%;
	margin-top: 30px;
}
.cache-item-table{
	height: auto;
	width: 100%;
	margin-top: 30px;
}

.queue-thead-col,.queue-tbody-col{
	border: none !important;
}

.queue-tbody-row{
	border-bottom: 1px solid #CECCCC !important;
}

.table-TxtAlign-center{
	text-align: center;
}
.table-TxtAlign-right{
	text-align: right;
}
.queue-msg-table thead{
	background-color:#4892F9; 
	color:white;
}
.cache-item-table thead{
	background-color:#4892F9; 
	color:white;
}
.queue-msg-tbody{
	cursor: pointer;
}
.cache-value-display,.cache-value-edit,.cache-key-display,.cache-key-edit{
	width: 100%;
	height:26px;	
}
.cache-value-display,.cache-value-edit{
	cursor: text;	
}
.cache-value-edit input{
	width: 100%;
	height:100%;
	border:1px solid #DDDBDB;
	padding-left: 1px;
}

.cache-value-edit input:focus{
	outline: none;
}

.cache-key-edit input{
	width: 100%;
	height:100%;
	border:1px solid #DDDBDB;
	padding-left: 1px;
}

.cache-key-edit input:focus{
	outline: none;
}

/********************************/
.apps-panel-wrapper{
	width: 30%;
	background-color: white;
	height: 89.9vh;
	position: relative;
	margin-left: 15px;		
	border-right:1px solid #DEE0E0;
	border-top:1px solid #DEE0E0;
	position: fixed;
	bottom:0;	
}
.cache-list-wrapper{
	width: 100%;
	height: 91%;						
}

.cache-list-container{
	height: 100%;
	width: 99%;	
	padding-top: 12px;	
	padding-left: 12px;	
	padding-right: 12px;
}
.cache-search-wrapper{	
	height: 50px;
	width: 100%;	
	padding-top: 5px;
	padding-left: 12px;	
	padding-right: 12px;		
}
.cache-search-container{   
   height: 40.2px;
   margin-top:4px;   
   padding-top: 3px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 8px;  
   border-bottom:1px solid #DEE0E0; 
}
.cache-search-input{
    border: none;   
    background-color: transparent;
    padding-left: 2px;
    font-size: 16px;    
}
.cache-search-input:focus{
	outline: none;
}
.each-cache-wrapper{
	width: 98%;
	height: 28px;	
}

.cache-resembler-wrapper{
	width: 28px;
	height: 28px;	
}
.cache-app-name-wrapper{
	width: 92%;
	height: 28px;	
}
.cache-secondary-strip{
	height: 50px;
	width: 100%;
	background-color: white;
	padding-left: 22px;	
}