<div class="modal-dialog">
    <div class="modal-content cf">

      <div style="height:80px; width:100%;padding:13px;background-color:#549afc;border-top-left-radius:4px;border-top-right-radius:4px;">
        <div class="pull-left" style="padding-left:8px;">
          <div>
            <span style="font-size:22px;color:white;">Access Control List (ACL)</span>
          </div>

          <div>
            <span style="font-size:14px;color:white;">ACL's helps you to secure your app.</span>
          </div>

        </div> 
        <div class="pull-right" class="flex-general-column-wrapper-center" style="padding-right:8px;height:56px;width:56px;border-radius:50px;background-color:#0F6DA6;">
          <div class="flex-general-column-wrapper-center" style="height:56px;width:56px;">           
            <i class="icon ion-unlocked" style="font-size: 30px;color:white;"></i>
          </div>
        </div>         
      </div>    

      <div class="acl-main-body">        
       
        <div class="acl-wrapper" style="">         

          <!--Public User-->
          <div  ng-show="aclPublic.id=='all'" class="acl-content flex-general-row-wrapper">           
            <div  class="acl-player">
              <p class="db-color-fg" style="font-size:14px;">
                <i class="icon ion-person-stalker" style="cursor:default;"></i>
                
                {{aclPublic.name}}
              </p>                   
            </div>

            <div class="acl-player-controll flex-general-row-wrapper">
              <!--Read-->               
              <div class="flex-equal-ratio-items flex-general-row-wrapper"> 
                <!--Null-->            
                <div ng-show="aclPublic.readValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'read',true,aclPublic.id,'user')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="aclPublic.readValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'read',false,aclPublic.id,'user')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="aclPublic.readValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'read',null,aclPublic.id,'user')">        
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Read
                </div>
              </div>       

              <!--Write-->            
              <div class="flex-equal-ratio-items flex-general-row-wrapper">                 

                <!--Null-->            
                <div ng-show="aclPublic.writeValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'write',true,aclPublic.id,'user')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="aclPublic.writeValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'write',false,aclPublic.id,'user')">           
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="aclPublic.writeValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(aclPublic.player,'write',null,aclPublic.id,'user')">  
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>
                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Write
                </div>                       
              </div>             

              <!--Remove-->
              <div style="width:25px;">
                <i class="fa fa-question-circle" style="color:gray;margin-top:5px;" normaltooltipleft="msg='Public read and write permissions'"></i>
              </div> 
            </div>
          </div>
          <!--/Public User-->

          <!--User-->
          <div ng-repeat="user in aclUsers" ng-show="user.id!='all'" class="acl-content flex-general-row-wrapper">           
            <div  class="acl-player">
              <p class="db-color-fg" style="font-size:14px;">
                <i ng-show="user.player=='User'" class="icon ion-person-stalker" style="cursor:default;"></i>
                <i ng-show="user.player=='Role'" class="icon ion-unlocked" style="cursor:default;"></i>
                {{user.name}} <span ng-show="user.id!='all'" style="color:#A09F9F">({{user.id}})</span> 
              </p>                   
            </div>

            <div class="acl-player-controll flex-general-row-wrapper">
              <!--Read-->               
              <div class="flex-equal-ratio-items flex-general-row-wrapper"> 
                <!--Null-->            
                <div ng-show="user.readValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'read',true,user.id,'user')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="user.readValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'read',false,user.id,'user')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="user.readValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'read',null,user.id,'user')">        
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Read
                </div>
              </div>       

              <!--Write-->            
              <div class="flex-equal-ratio-items flex-general-row-wrapper">                 

                <!--Null-->            
                <div ng-show="user.writeValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'write',true,user.id,'user')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="user.writeValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'write',false,user.id,'user')">           
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="user.writeValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(user.player,'write',null,user.id,'user')">  
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>
                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Write
                </div>                       
              </div>             

              <!--Remove-->
              <div style="width:25px;">
                <i ng-show="user.id!='all'" class="fa fa-times" style="color:#C4C2C2;" ng-click="removeACL(user.player,user.id,'user',aclObject)"></i>
              </div> 
            </div>
          </div>
          <!--/User-->

          <!--Role-->
          <div ng-repeat="role in aclRoles" class="acl-content flex-general-row-wrapper">            
            <div  class="acl-player">
              <p class="db-color-fg" style="font-size:14px;">
                <i ng-show="role.player=='User'" class="icon ion-person-stalker" style="cursor:default;"></i>
                <i ng-show="role.player=='Role'" class="icon ion-unlocked" style="cursor:default;"></i>
                {{role.name}} <span style="color:#A09F9F">({{role.id}})</span> 
              </p>
            </div>

            <div class="acl-player-controll flex-general-row-wrapper">
              <!--Read-->               
              <div class="flex-equal-ratio-items flex-general-row-wrapper"> 
                <!--Null-->            
                <div ng-show="role.readValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'read',true,role.id,'role')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="role.readValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'read',false,role.id,'role')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="role.readValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'read',null,role.id,'role')">        
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>
                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Read
                </div>
              </div>       

              <!--Write-->            
              <div class="flex-equal-ratio-items flex-general-row-wrapper">    

                <!--Null-->            
                <div ng-show="role.writeValue==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'write',true,role.id,'role')">             
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="role.writeValue==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'write',false,role.id,'role')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="role.writeValue==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(role.player,'write',null,role.id,'role')"> 
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Write
                </div>                   
              </div>             

              <!--Remove-->
              <div style="width:25px;">
                <i class="fa fa-times" style="color:#C4C2C2;" ng-click="removeACL(role.player,role.id,'role',aclObject)"></i>
              </div> 
            </div>
          </div>
          <!--/Role-->

          <!--Add New-->
          <div ng-repeat="newACL in addACL">
          <div  class="acl-content flex-general-row-wrapper">            
            <div  class="acl-player">
              <p class="db-color-fg" style="font-size:14px;"> 
                <i ng-show="newACL.player=='User'" class="icon ion-person-stalker" style="cursor:default;"></i>
                <i ng-show="newACL.player=='Role'" class="icon ion-unlocked" style="cursor:default;"></i>
                {{newACL.name}} <span style="color:#A09F9F">({{newACL.id}})</span>
              </p>
            </div>

            <div class="acl-player-controll flex-general-row-wrapper">
              <div class="flex-equal-ratio-items flex-general-row-wrapper">              

                <!--Null-->            
                <div ng-show="newACL.read==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'read',true,newACL.id,'newacl')">        
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="newACL.read==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'read',false,newACL.id,'newacl')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="newACL.read==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'read',null,newACL.id,'newacl')"> 
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>                   
                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Read
                </div>
              </div>       

              <!--Write-->            
              <div class="flex-equal-ratio-items flex-general-row-wrapper">
                
               <!--Null-->            
                <div ng-show="newACL.write==null" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'write',true,newACL.id,'newacl')">        
                  <div>
                    &nbsp;
                  </div>                    
                </div>

                <!--True-->
                <div ng-show="newACL.write==true" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'write',false,newACL.id,'newacl')">            
                  <div >
                    <i class="icon ion-android-done db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>

                <!--False-->
                <div ng-show="newACL.write==false" class="chbx-icon-bx flex-general-column-wrapper-center" ng-click="changeACL(newACL.player,'write',null,newACL.id,'newacl')"> 
                  <div>
                    <i class="icon ion-android-close db-color-fg" style="font-size:14px;"></i>
                  </div>
                </div>
                <div class="db-color-fg" style="margin-top:2px;margin-left:1px;">
                  Write
                </div>
              </div>             

              <!--Remove-->
              <div style="width:25px;" class="acl-remv">
                <i class="fa fa-times" style="color:#C4C2C2;" ng-click="removeACL(newACL.player,newACL.id,'newacl',aclObject)"></i>
              </div> 
            </div>
          </div>
          </div>
          <!--/Add New-->  

          <!--Spinner-->
          <div ng-show="newACLSpinner">
          <div  class="acl-content flex-general-row-wrapper">            
            <div  class="acl-player">
              <p> 
                <i class="fa fa-spinner fa-spin"></i>
              </p>
            </div>
            <div class="acl-player-controll flex-general-row-wrapper"> 
              &nbsp;
            </div>
          </div>
          </div>
          <!--/Spinner-->          

          <!--Head-->
          <div class="acl-head flex-general-row-wrapper">
            <div class="acl-player flex-general-row-wrapper">
              <div class="acl-search-bx flex-general-row-wrapper" style="width:72%;margin-top:1px;">
                <div style="width:93.5%">
                 <input id="acl-search-id" type="text"  autokomplete class="acl-search-input" style="width:100%" placeholder="User or Role">
                </div> 
                <div style="width:4.5%; margin-left:3px;">
                  <i class="fa fa-search" style="margin-top:5px;color:#A6AFB6;"></i>
                </div>                                  
              </div>                
            </div>             
          </div>
          <!--/Head-->        
        
      </div>
    </div>  
    <div class="modal-footer">
      
      <a class="pull-left" style="margin-top:5px; color:#BFBDBD;text-decoration:underline;" href="https://tutorials.cloudboost.io/en/security/acl" target="_blank">Why are ACLs important?</a>
       
      <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary cb-modal-default-btn" ng-click="save()" >Save</button>
    </div>    
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->