<ul class="fileBrows-contextmenu">
	<li class="flex-general-row-wrapper" ng-click="kuljaOpen()">
    	<div class="contextmenu-icon flex-general-column-wrapper-center">
    		<i class="fa fa-expand" style="font-size:15px;color:#AAAAAA;"></i>
    	</div>
    	<div class="contextmenu-label flex-general-column-wrapper-center">
    		<span>Open</span>
    	</div>
    </li>

    <li class="flex-general-row-wrapper">
    	<div class="contextmenu-icon flex-general-column-wrapper-center">
    		<i class="fa fa-pencil" style="font-size:15px;color:#AAAAAA;"></i>
    	</div>
    	<div class="contextmenu-label flex-general-column-wrapper-center">
    		<span>Rename</span>
    	</div>
    </li>

    <li class="flex-general-row-wrapper">
    	<div class="contextmenu-icon flex-general-column-wrapper-center">
    		<i class="icon ion-ios-trash" style="font-size:18px;color:#AAAAAA;"></i> 
    	</div>
    	<div class="contextmenu-label flex-general-column-wrapper-center">
    		<span>Delete</span>
    	</div>
    </li>
        
</ul>