<div class="modal-dialog">
  <div class="modal-content">   

    <div style="height:80px; width:100%;padding:13px;background-color:#549afc;border-top-left-radius:4px;border-top-right-radius:4px;">
      <div class="pull-left" style="padding-left:8px;">
        <div>
          <span style="font-size:22px;color:white;">Geo Points</span>
        </div>

        <div>
          <span style="font-size:14px;color:white;">Save your important locations easily.</span>
        </div>

      </div> 
      <div class="pull-right" class="flex-general-column-wrapper-center" style="padding-right:8px;height:56px;width:56px;border-radius:50px;background-color:#0F6DA6;">
        <div class="flex-general-column-wrapper-center" style="height:56px;width:56px;">
          <i class="fa fa-map-marker" style="font-size:30px;color:white;"></i>
        </div>
      </div>         
    </div>

    <!--Saving Errors--> 
    <div style="width:100%;">
      <div ng-show="geopointEditError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:geopointEditError}" class="fadeIn">

        <div class="pull-left" style="padding-top:1px;">                
          <span>{{geopointEditError.msg}}</span>
        </div>

        <div class="pull-right" ng-click="geopointEditError=!geopointEditError">
          <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
        </div>  

      </div>  
    </div>  
    <!--/Saving Errors-->


    <div style="border-top:1px solid #dddbdb;">
      <form role="form" name="geoPointForm" ng-submit="setAndSaveGeopoint(geoPointForm.$valid)">

        <div class="madd-relation-wrapper">            
          <div class="geopoint-list-wrapper">

              <div class="geo-point-add-remv flex-general-row-wrapper-center">
                <div class="flex-general-row-wrapper">


                  <!--Longitude-->
                  <div>
                    
                    <div class="geopoint-name">
                      <h4>Longitude</h4>
                    </div>

                    <input type="text" ng-model="editableGeopoint.longitude" class="geopoint-inputz" ng-blur="geoPointValidation('longitude',editableGeopoint.longitude)" minlength="-180" maxlength="180" required>
                   
                  </div>

                  <!--Latitude-->
                  <div style="margin-left:4px;">

                    <div class="geopoint-name">
                      <h4>Latitude</h4>                          
                    </div>  
                    
                    <input type="text" ng-model="editableGeopoint.latitude" class="geopoint-inputz"  ng-blur="geoPointValidation('latitude',editableGeopoint.latitude)" minlength="-90" maxlength="90" required>                        
                  </div>
                 

                </div> 
              </div>
              
          </div> 
        </div>             

        <div class="modal-footer">        
          <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>
          <!--Disabled Save-->
          <button type="submit" ng-show="geopointEditError"  class="btn  cb-modal-default-btn" style="color:gray !important;">Save</button> 

          <!--Enabled Save-->
          <button type="submit" ng-show="!geopointEditError" class="btn btn-primary cb-modal-default-btn" >Save</button>
        </div>

    </form>
    </div>        

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->