<div class="modal-dialog" ng-init="init()">
  <div class="modal-content">        
   
    <div style="height:80px; width:100%;padding:13px;background-color:#549afc;border-top-left-radius:4px;border-top-right-radius:4px;">
      <div class="pull-left" style="padding-left:8px;">
        <div>
          <span style="font-size:22px;color:white;">List</span>
        </div>

        <div>
          <span style="font-size:14px;color:white;">List your records..</span>
        </div>

      </div> 
      <div class="pull-right" class="flex-general-column-wrapper-center" style="padding-right:8px;height:56px;width:56px;border-radius:50px;background-color:#0F6DA6;">
        <div class="flex-general-column-wrapper-center" style="height:56px;width:56px;">
          <i class="fa fa-bars" style="font-size:30px;color:white;"></i>
        </div>
      </div>         
    </div> 

    <div style="border-top:1px solid #dddbdb;">
      <div class="madd-relation-wrapper">

        <!--Add New Records Button-->
        <div  class="add-list-btn-wrapper" ng-if="editableColumn.relatedTo!='File'"> 
          <div class="document-list-add-wrapper flex-general-row-wrapper">
            <!--For List of Texts-->
            <button ng-click="addListItem()" type="button"  class="nuevo-add-list-btn" >Add New Record</button>
          </div>
        </div> 

        <!--List of Text-->
        <div ng-if="editableColumn.relatedTo=='Text'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div ng-repeat="eachText in editableList track by $index">
              <div class="document-list-txt-wrapper flex-general-row-wrapper-center cf">
                
                <div  class="list-text-aura">
                  <input type="text" ng-model="eachText" ng-blur="modifyListItem(eachText,$index)" class="list-modal-text">
                </div>                  

                <div class="m-remove-document list-text-remv-show">
                  <div ng-click="deleteListItem($index)">
                   <i class="fa fa-trash-o fa-lg"></i>
                  </div>
                </div>                    
              </div>

              <!--Modify Error-->
              <div>
                <span style="color:red;margin-left:5px;">{{modifyListItemError[$index]}}</span>
              </div>
            </div>

        </div>            
        <!--List of Text-->

        <!--List of Email-->
        <div ng-if="editableColumn.relatedTo=='Email'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div ng-repeat="eachEmail in editableList track by $index">
              <div class="document-list-txt-wrapper flex-general-row-wrapper-center cf">
                
                <div  class="list-text-aura">
                  <input type="text" ng-model="eachEmail" ng-blur="modifyListItem(eachEmail,$index)" class="list-modal-text">   
                </div>                  

                <div class="m-remove-document list-text-remv-show">
                  <div ng-click="deleteListItem($index)">
                   <i class="fa fa-trash-o fa-lg"></i>
                  </div>
                </div>                   
              </div>
              <!--Modify Error-->
              <div>
                <span style="color:red;margin-left:5px;">{{modifyListItemError[$index]}}</span>
              </div>
            </div>

        </div>

        <!--Roll List of URL-->
        <div ng-if="editableColumn.relatedTo=='URL'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div ng-repeat="eachURL in editableList track by $index">
              <div class="document-list-txt-wrapper flex-general-row-wrapper-center cf">
                
                <div  class="list-text-aura">
                  <input type="text" ng-model="eachURL" ng-blur="modifyListItem(eachURL,$index)" class="list-modal-text">
                </div>                  

                <div class="m-remove-document list-text-remv-show">
                  <div ng-click="deleteListItem($index)">
                   <i class="fa fa-trash-o fa-lg"></i>
                  </div>
                </div>  
              </div>
              <!--Modify Error-->
              <div>
                <span style="color:red;margin-left:5px;">{{modifyListItemError[$index]}}</span>
              </div>
            </div>

        </div>


        <!--Roll List of Number-->
        <div ng-if="editableColumn.relatedTo=='Number'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div ng-repeat="eachNumber in editableList track by $index">
              <div class="document-list-txt-wrapper flex-general-row-wrapper-center cf">
                
                <div  class="list-text-aura">
                  <input type="text" ng-model="eachNumber" class="list-modal-text" ng-blur="modifyListItem(eachNumber,$index)">
                </div>
              

                <div class="m-remove-document list-text-remv-show">
                  <div ng-click="deleteListItem($index)">
                   <i class="fa fa-trash-o fa-lg"></i>
                  </div>
                </div>  
              </div>
              <!--Modify Error-->
              <div>
                <span style="color:red;margin-left:5px;">{{modifyListItemError[$index]}}</span>
              </div>
            </div>

        </div>

        <!--List of DateTime-->
        <div ng-if="editableColumn.relatedTo=='DateTime'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div  ng-repeat="eachDate in editableList track by $index" class="document-list-datetime-wrapper flex-general-row-wrapper cf">        

              <div class="list-datetime-aura-list">

                <input kendo-date-time-picker value="{{eachDate | ISO2DateObject}}" k-ng-model="eachDate"  class="list-m-datetime-list" ng-blur="modifyListItem(eachDate,$index)"/>   

              </div>

              <div class="m-remove-document list-datetime-remv-show" style="margin-left: 0 !important;">
                <div ng-click="deleteListItem($index)">
                  <i class="fa fa-trash-o fa-lg"></i>
                </div>
              </div>
                
            </div>

        </div>
        <!--/List of DateTime-->

        <!--List of Boolean-->
        <div ng-if="editableColumn.relatedTo=='Boolean'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div  ng-repeat="eachBoolean in editableList track by $index" class="document-list-bool-wrapper cf">        

             
              <div class="pull-left list-boolean-aura-list flex-general-row-wrapper-center">            

                <checkbox class="btn-default list-m-boolean-list"  ng-model="eachBoolean" ng-change="modifyListItem(eachBoolean,$index)"></checkbox>  

              </div>

              <div class="pull-right m-remove-document list-datetime-remv-show" style="padding-right:8px !important;padding-top:3px !important;">
                <div ng-click="deleteListItem($index)">
                  <i class="icon ion-close"></i>
                </div>
              </div>                  
                
            </div>

        </div>
        <!--/List of Boolean-->

        <!--List of JSON-Object-->
        <div ng-if="editableColumn.relatedTo=='Object'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

          <div  ng-repeat="eachJSON in editableList track by $index">
            <div  class="document-list-json-wrapper cf">   

              <div class="pull-left" style="width:96.8%"> 
                <div class="list-json-aura-list">                  
                  <p ng-click="showListJsonObject(eachJSON,$index)" class="list-m-json-list">{{eachJSON || "null"}}</p>     
                </div>                    
              </div>

              <div class="pull-right">
                <div class="m-remove-document list-datetime-remv-show" style="margin-top:7.6px !important;">
                  <div ng-click="deleteListItem($index)">
                    <i class="fa fa-trash-o fa-lg"></i>
                  </div>
                </div>
              </div>  
                
            </div>

            <!--Modify Error-->
            <div>
              <span style="color:red;margin-left:5px;">{{modifyListItemError[$index]}}</span>
            </div>

          </div>

        </div>
        <!--/List of JSON-Object-->        


        <!--List of GeoPoint-->
        <div ng-if="editableColumn.relatedTo=='GeoPoint'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <div ng-repeat="eachGeopoint in editableList track by $index" class="geopoint-list flex-general-row-wrapper-center cf" style="margin-top:3px;background-color: #E2E2E2;">

              <div class="m-relationid id-show" style="cursor:pointer;" ng-click="editListGeoPoint($index)">
                <div ng-click="editListGeoPoint($index)">
                  { <span>{{eachGeopoint.longitude}}</span>,&nbsp;
                  <span>{{eachGeopoint.latitude}}</span> }
                </div>  
              </div>

              <div class="m-remove-relation remv-show">
                <div ng-click="deleteListItem($index)">
                 <i class="fa fa-times"></i>
                </div>
              </div>

            </div>
            
        </div>
        <!--/List of GeoPoint-->


        <!--List of Relation Objects-->
        <div ng-if="editableColumn.relatedTo!='Text' &&editableColumn.relatedTo!='Email' && editableColumn.relatedTo!='URL' && editableColumn.relatedTo!='Number' && editableColumn.relatedTo!='DateTime' && editableColumn.relatedTo!='Object' && editableColumn.relatedTo!='Boolean' && editableColumn.relatedTo!='File' && editableColumn.relatedTo!='GeoPoint'" class="document-list-wrapper list-mat" malihuscrollbar-for-popup>

            <!--show list-->
            <div ng-repeat="eachRelRow in editableList | filter:searchRelListDoc" class="relationid-list-show">
              <div class="m-relationid" ng-click="viewRelationalBrowser(null,null,$index)">
                <div class="neorel-wrapper cf">                     

                  <!--Image-->
                  <div class="pull-left" ng-repeat="fileCol in (filterImages=(tableDef.columns | getImageFromArray))">

                    <div ng-show="eachRelRow.get(fileCol.name) && ((eachRelRow.get(fileCol.name).document.name | extension)=='jpeg' || (eachRelRow.get(fileCol.name).document.name | extension)=='jpg' || (eachRelRow.get(fileCol.name).document.name | extension)=='png' || (eachRelRow.get(fileCol.name).document.name | extension)=='tif' || (eachRelRow.get(fileCol.name).document.name | extension)=='gif')" style="margin-right:5px;">  
                                             
                      <img  ng-src="eachRelRow.get(fileCol.name).document.url" class="neorel-img">
                    </div>

                  </div>

                  <!--Content-->
                  <div class="pull-left" style="padding-top:4px; padding-bottom:2px;padding-left:2px;">
                    <div style="font-size:14px;">{{eachRelRow.get("id")}}</div>     

                    <div style="font-size:12px;" ng-repeat="textCol in (Texts=(tableDef.columns | getTextFromArray))" ng-show="eachRelRow.get(textCol.name)">{{eachRelRow.get(textCol.name)}}</div>
                  
                    <div style="margin-top:3.5px;color:#A09F9F;font-style: italic;">{{eachRelRow.get('createdAt') | date:'medium'}}</div>
                  </div>

                  <!--Delete Button-->
                  <div class="pull-right" style="margin-top:-1px; padding-bottom:2px;padding-right:6px;">
                    <i class="icon ion-close" style="font-size:12px;" ng-click="deleteListItem($index); $event.stopPropagation()"></i>                        
                  </div>

                 </div>
              </div>  
            </div>
            <!--show list-->  

        </div>
        <!--/List of Relation Objects-->

        <!--List of File-->
        <div ng-if="editableColumn.relatedTo=='File'" class="document-file-list-wrapper list-mat" malihuscrollbar-for-popup>

          <!--Empty List -->
          <!--Drag and Drop Markup -->
          <div  ng-show="!editableList || editableList.length==0" class="rel-uploader cf flex-general-row-wrapper-center" style="margin-top:49px;" dmuploader>
            <div class="browser pull-left">
              <label class="flex-general-column-wrapper-center">
                <span style="position:absolute; margin-top:14px;margin-left:-8px;">                          
                  <i class="icon ion-plus" style="color:#CECCCC; font-size:18px;"></i>
                </span>
                <input type="file" name="files[]" multiple="multiple" title='Click to add Files'>
              </label>
            </div>                                               
            <div class="pull-left">&nbsp;Drag &amp; Drop File Here</div>                          
          </div>
          <!--/Drag and Drop Markup -->
          <!--Empty List -->

          <!--List>0-->
          <div ng-show="editableList.length>0" class="flex-general-row-wrapper cf">

            <!--Addition Button-->
            <div class="new-rel-list-file-up pull-left" style="background-color:white;">
              <!-- D&D Markup -->
              <div  class="rel-list-uploader cf flex-general-row-wrapper-center" dmuploader>
                <div class="browser">
                  <label class="flex-general-column-wrapper-center">
                    <div style="position:absolute !important;margin-top:60px;">                          
                      <i class="icon ion-plus list-file-up-icon" style="color:#DCDCDC;  margin-left:65px;font-size:28px;"></i>
                    </div>
                    <input type="file" name="files[]" multiple="multiple" title='Click to add Files'>
                  </label>
                </div>                                              
              </div>
              <!-- /D&D Markup -->
            </div>
            <!--/Addition Button-->

            <!--List-->
            <div ng-repeat="file in editableList track by $index" class="flex-general-row-wrapper cf">

              <!--Spinner-->
              <div ng-show="listFileSpinner[$index]" class="new-rel-list-file pull-left flex-general-column-wrapper-center">
                
                <div style="width:100%;" class="flex-general-column-wrapper-center">
                    <div style="width:85%">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{listFileProgress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{listFileProgress[$index]}}%">
                          <span>{{listFileProgress[$index]}}% Complete</span>
                        </div>
                      </div>
                    </div>
                </div> 

              </div> 

              <!--Error-->
              <div ng-show="listFileError[$index]" class="new-rel-list-file pull-left flex-general-column-wrapper-center">
                <div style="width:100%;">
                  <div>{{listFileError[$index]}}</div>
                </div>  
              </div>

              <!--File Content-->
              <div ng-show="!listFileSpinner[$index] && !listFileError[$index]" class="new-rel-list-file pull-left">
                <!--Img Files-->
                <div class="rel-list-file-view" ng-if="(file.document.name | extension)=='jpeg' || (file.document.name | extension)=='jpg' || (file.document.name | extension)=='png' || (file.document.name | extension)=='tif' || (file.document.name | extension)=='gif'">

                  <img ng-src="{{file.document.url}}" style="width:150px;height:130px;">

                  <!--Image controllers-->
                  <div class="m-rel-static-file-toolz flex-general-row-wrapper cf">
                      <!--Download-->
                      <a ng-href="{{file.document.url}}" target="_blank">
                        <div class="pull-left flex-general-column-wrapper-center" style="height:26px; width:26px; border-radius:25px;background-color:#212121;opacity:0.8;cursor:pointer;">
                          <i class="icon ion-ios-download-outline" style="color:white;font-size:20px;"></i>
                        </div>
                      </a>  

                      <!--Delete-->
                      <div class="pull-left flex-general-column-wrapper-center" style="margin-left:3px; height:26px; width:26px;border-radius:25px;background-color:#212121;opacity:0.8;cursor:pointer;" ng-click="deleteListItem($index)">
                        <i class="icon ion-ios-trash-outline" style="color:white;font-size:20px;"></i>
                      </div>
                  </div>
                  <!--/Image controllers-->  

                </div> 

                <!--Other Files-->
                <div class="rel-list-file-view" ng-if="(file.document.name | extension)!='jpeg' && (file.document.name | extension)!='jpg' && (file.document.name | extension)!='png' && (file.document.name | extension)!='tif' && (file.document.name | extension)!='gif'">                 

                  <!--Word-->
                  <img ng-if="(file.document.name | extension)=='doc' || (file.document.name | extension)=='docx'" src="assets/images/msword.png" style="width:125px;height:120px;margin-left:15px;margin-top:6px;">

                  <!--Ppt-->
                  <img ng-if="(file.document.name | extension)=='ppt' || (file.document.name | extension)=='pptx'" src="assets/images/msppt.png" style="width:125px;height:120px;margin-left:15px;margin-top:6px;">

                  <!--Excel-->
                  <img ng-if="(file.document.name | extension)=='xls' || (file.document.name | extension)=='xlsx'" src="assets/images/msexcel.png" style="width:125px;height:120px;margin-left:15px;margin-top:6px;">

                  <!--Pdf-->
                  <img ng-if="(file.document.name | extension)=='pdf'" src="assets/images/pdf.png" style="height:100%;"> 

                  <!--Others-->
                  <img ng-if="(file.document.name | extension)!='pdf' && (file.document.name | extension)!='doc' && (file.document.name | extension)!='docx' && (file.document.name | extension)!='ppt' && (file.document.name | extension)!='pptx' && (file.document.name | extension)!='xls' && (file.document.name | extension)!='xlsx'" src="assets/images/random2.png" style="width:125px;height:120px;margin-left:15px;margin-top:6px;">


                  <!--Image controllers-->
                  <div class="m-rel-static-file-toolz flex-general-row-wrapper cf">
                      <!--Download-->
                      <a ng-href="{{file.document.url}}" target="_blank">
                        <div class="pull-left flex-general-column-wrapper-center" style="height:26px; width:26px; border-radius:25px;background-color:#212121;opacity:0.8;cursor:pointer;">
                          <i class="icon ion-ios-download-outline" style="color:white;font-size:20px;"></i>
                        </div>
                      </a>  

                      <!--Delete-->
                      <div class="pull-left flex-general-column-wrapper-center" style="margin-left:3px; height:26px; width:26px;border-radius:25px;background-color:#212121;opacity:0.8;cursor:pointer;" ng-click="deleteListItem($index)">
                        <i class="icon ion-ios-trash-outline" style="color:white;font-size:20px;"></i>
                      </div>
                  </div>
                  <!--/Image controllers-->  

                </div>

                <!--File Name-->
                <div class="rel-list-file-view-name flex-general-column-wrapper-center">
                  <div style="color:black;">
                    {{file.document.name | characters:15}}
                  </div>  
                </div> 
              </div>                           
            </div>


          </div>  
          <!--List>0-->
        </div>
        <!--List of File-->

      </div> 
    </div>

    <!--Footer-->
    <div class="modal-footer">        
      <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal" ng-click="closeListModal()">Close</button>

      <!--Save-->
      <button ng-if="!isRelationalList" type="button" ng-click="setAndSaveList()" class="btn btn-primary cb-modal-default-btn" >Save List</button> 

      <!--Relational List Save-->
      <button ng-if="isRelationalList" type="button" ng-click="setRelationData(editableRow,editableColumn,editableList)" class="btn btn-primary cb-modal-default-btn" >Save List</button>

    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!--JSON Directive -->
<div  class="modal fade colored-header danger" id="md-listobjectviewer" tabindex="-1" role="dialog">
  <cb-json json="cloudObjectForJson" column="editableColumn" save="setAndSaveJsonObject(updateJson)"></cb-json>
</div>
<!--/JSON Directive -->

<!--GeoPoint Directive-->
<div class="modal fade colored-header danger" id="md-listgeodocumentviewer" tabindex="-1" role="dialog">
  <cb-geo geo="cloudObjectGeopoint"  column="editableColumn" save="modifyListGeoPoint(updateGeo)"></cb-geo>
</div> 
<!--/GeoPoint Directive-->

<!--Search Documents Directive-->
<div class="modal fade colored-header danger" id="md-listsearchreldocument" tabindex="-1" role="dialog">
  <cb-search-objects objectlist="relationTableData" table="tableDef" error="searchRelDocsError" link="addListItem(cbRecord)"></cb-search-objects>
</div> 
<!--/Search Documents Directive-->

<!--Relation Directive -->

<div class="modal fade colored-header danger" id="splmdlistrelationviewer" tabindex="-1" role="dialog">
  <div ng-if="openMiniBrowser">
  <cb-databrowser definition="tableDefArray" record="tableRecordArray" fields="fieldsOrderArray" close="closeRelModal()"></cb-databrowser>
  </div>
</div> 
<!--/Relation Directive -->