

<div id="cl-wrapper" class="forgotpassword-container">

	<div class="middle">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">
					<img class="account-logo" src="../../../assets/images/cbfull.png" alt="logo"/>
				</h3>
			</div>
		
			<h5 class="title text-center">
				<strong>Activating your account.</strong>
			</h5>
    		<p class="intro text-center" ng-show="showSpinner">It'll take a second.</p>

            <div class="row">
                <div class="text-center" ng-show="showSpinner">
                	<i class="fa fa-spin fa-4x fa-spinner"></i></div>
                <div ng-hide="showSpinner" class="form-container col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <p class="text-center">{{err}}</p>
                </div>
            </div><!--//row-->	

		</div>
		<div class="text-center out-links"><a href="www.cloudboost.io">&copy; 2014 cloudboost</a></div>
	</div> 
	
</div>

