

<div id="cl-wrapper" class="forgotpassword-container"  style="background-image: url('/assets/images/bg-header-2.jpg')" ng-init="init()">

	<div class="middle">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">
					<a href="https://www.cloudboost.io">
						<img class="account-logo" src="../../../assets/images/cbfull.png" alt="logo"/>
					</a>
				</h3>
			</div>
			<div>
				<form style="margin-bottom:0px !important;" class="form-horizontal" name="userForm" ng-submit="requestResetPassword(userForm.$valid)" data-ng-show="!showNewPasswordForm && !err">
					<div class="content">
							<h4 class="title text-center">
								Forgot your password?
							</h4>
            				<p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
             				 <hr/>

              				<div class="text-center" ng-show="showSpinner">
                                <i class="fa fa-spin fa-4x fa-spinner"></i>
                            </div>
                            <p class="text-center">{{err}}</p>

							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-envelope"></i>
										</span>
										<input type="email" name="email" placeholder="Your Email" class="form-control" required  ng-model="email">
									</div>
                  					<div id="email-error"></div>
								</div>
							</div>
             
            				<button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Reset Password</button>
							
					</div>
			  </form>

			  <!--New Password Block-->
			  <form style="margin-bottom: 0px !important;" data-ng-show="showNewPasswordForm && !err" class="form-horizontal" name="passwordForm" ng-submit="changePassword(passwordForm.$valid)">
					<div class="content">         				

							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-lock"></i>
										</span>
										<input type="password" name="email" placeholder="New Password" class="form-control" required  ng-model="password">
									</div>
                  					<div id="email-error"></div>
								</div>

								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-lock"></i>
										</span>
										<input type="password" name="email" placeholder="Confirm Password" class="form-control" required  ng-model="confirmPassword">
									</div>
                  					<div id="email-error"></div>
								</div>
							</div>
             
           					<button  class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Change Password</button>
					</div>
			  </form>
			<!--/New Password Block-->  
			</div>

			<div style="padding:15px;">
				<p ng-if="err">{{err}}</p>
			</div>	
		</div>
		<div class="text-center out-links"><a href="www.cloudboost.io">&copy; 2016 HackerBay, Inc.</a></div>
	</div> 
	
</div>

