<div id="cl-wrapper" class="login-container" style="background-image: url('/assets/images/bg-header-2.jpg')">
<div class="middle-login" ng-init="init()">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">
					<a href="https://www.cloudboost.io">
					 <img class="account-logo" src="../../../assets/images/cbfull-small.png" alt="logo" style="margin-top:5px;" />
					</a> 
				</h3>
			</div>
			<div>
				<div class="col-md-6">
					<!--If Feed-->
					<div ng-if="feed && !isBlogLoading" style="margin-top:80px;margin-left:20px; padding-bottom:100px;">
						<div>
							<span>WHAT'S NEW</span>
						</div>
						<div style="margin-top:3px;">
							<a href="{{feed.link}}" target="_blank">
							   <span style="color:#0275B3; font-weight:bold; font-size:16px;">{{feed.title}} &nbsp;<i class="fa fa-long-arrow-right"></i>
							   </span>
						    </a>
						</div>
						<div class="news-dashboard flex-general-row-wrapper" style="margin-top:5px;">

							<div class="login-image-container">
								<img src="http://bit.ly/cloudBoostBlogImage" >
						    </div>

						    <div class="login-descri-container">
						    	<span>
						    		{{feed.contentSnippet}}
						    	</span>		
						    </div>
						</div>	
					</div>	

					<!--If Feed Doesn't ,Default-->	
					<div ng-if="!feed && !isBlogLoading" style="margin-top:80px;margin-left:18px; padding-bottom:100px;">
					<div>
						<span>WHAT'S IN IT FOR YOU?</span>
					</div>
					<div style="margin-top:3px;">
						<a href="https://www.cloudboost.io/pricing" target="_blank">
						   <span style="color:#0275B3; font-weight:bold; font-size:16px;">
						   	50$ Free credits, Every month for life &nbsp;
							<i class="fa fa-long-arrow-right"></i>
						   </span>
					    </a>
					</div>
					<div class="news-dashboard flex-general-row-wrapper" style="margin-top:5px;">

						<div class="login-image-container2">
							<img src="../assets/images/50dol.png" >
					    </div>

					    <div class="login-descri-container">
					    	<span>
					    		CloudBoost offers 50 USD free credits every month to hack around and to build your apps. You don't pay us a cent unless you hit quite a good amount of users.
					    	</span>		
					    </div>
					</div>	
					</div>

					<!--While Loading-->	
					<div ng-if="isBlogLoading" style="margin-top:120px;margin-left:20px; height:50px;" class="blog-spinner flex-general-column-wrapper-center">
					
						<div style="margin-top:3px;">							
							<i class="fa fa-spinner fa-pulse fa-3x"></i>
						</div>
						
					</div>
					<!--/While Loading-->

				</div>	


				<div class="col-md-6">
					<!--Normal Login Form-->
					<form ng-show="accountVerified" style="margin-bottom:20px !important; margin-top:40px !important; border-left:1px solid #E5E5E5;" class="form-horizontal" name="userForm" ng-submit="logIn(userForm.$valid)">
						<div class="content">						

							<div ng-show="showSpinner" class="flex-general-column-wrapper-center" style="height:200px;">
								<div>    			
		              			 <i class="fa fa-spinner fa-pulse fa-3x"></i>
		              			</div>	              			
							</div>

							<h4 ng-show="!showSpinner" class="title"><b>Welcome back! Glad to see you again.</b></h4>

							<p ng-hide="showSpinner" class="text-center" style="color:red;">{{err}}</p>
							
							<div ng-show="!showSpinner">
								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="email" placeholder="Email" id="username" class="form-control"  required  ng-model="email">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input type="password" placeholder="Password" id="password" class="form-control" required  ng-model="password">
										</div>
									</div>
								</div>
								 <p class="forgot-password">
								 	<a href="#/forgotpassword">Forgot password?</a>
								 </p>
							</div>	
								
						</div>
						<div class="foot" ng-show="!showSpinner">
							<a class="btn btn-default" href="#/signup">Create a free account</a>
							<button class="btn btn-primary"  type="submit">Log in</button>
						</div>
					</form>
					<!--/Normal Login Form-->

					<!--Account Activation is needed-->					
					<div ng-show="!accountVerified" style="margin-bottom:20px !important; margin-top:110px !important; border-left:1px solid #E5E5E5;" class="form-horizontal">
						<div class="content">						

							<div ng-show="showSpinner" class="flex-general-column-wrapper-center" style="height:100px;">
								<div>    			
		              			 <i class="fa fa-spinner fa-pulse fa-3x"></i>
		              			</div>	              			
							</div>

							<div style="width:100%;" ng-show="!showSpinner && !resentCode" class="flex-general-column-wrapper-center">
								<span style="color:#4892F9;font-size:16px;font-weight:700;">
									You email is not verified yet!
								</span>
								<span  style="font-size:12px;color:gray;">If you want us to send verification again <a style="cursor:pointer;" ng-click="resendVerificationEmail()">click here</a></span>
							</div>
							
							<div style="width:100%;" ng-show="!showSpinner && resentCode" class="flex-general-column-wrapper-center">
								<span style="color:#4892F9;font-size:14px;font-weight:700;">
									We have sent you verification email again
								</span>
								<span  style="font-size:12px;color:gray;">If you still didn't recieve it. <a style="cursor:pointer;" ng-click="resendVerificationEmail()">click here</a> to resend</span>
							</div>			
								
						</div>

						<div class="flex-general-column-wrapper-center" ng-show="!showSpinner" style="margin-top:16px;">							
							<button class="btn btn-primary"  type="button" ng-click="resendVerificationEmail()">Resend Verification Email</button>
						</div>
					</div>							
					<!--/Account Activation is needed-->

			   </div>		
			</div>
		</div>
		<div class="text-center out-links"><a href="www.cloudboost.io">&copy; 2016 HackerBay, Inc.</a></div>
	</div> 
</div>	