<div id="cl-wrapper" class="login-container" style="background-image: url('/assets/images/bg-header-2.jpg')">
<div class="middle-login">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">
					<a href="https://www.cloudboost.io">
					 <img class="account-logo" src="../../../assets/images/cbfull.png" alt="logo" style="margin-top:5px;" />
					</a> 
				</h3>
			</div>
			<div>
				<div class="col-md-6">
					<div style="margin-top:50px;">
						<div>
							<span>WHAT'S NEW</span>
						</div>
						<div style="margin-top:3px;">
							<a href="">
							   <span style="color:#0275B3; font-weight:bold; font-size:16px;">Available now: Real-time Messaging &nbsp;<i class="fa fa-long-arrow-right"></i>
							   </span>
						    </a>
						</div>
						<div class="news-dashboard flex-general-row-wrapper" style="margin-top:5px;">

							<div class="login-image-container">
								<img src="../assets/images/logtash.png" >
						    </div>

						    <div class="login-descri-container">
						    	<span>
						    		See when customers are online, when they’re replying, and deliver messages in real-time.
						    	</span>		
						    </div>
						</div>	
					</div>		
				</div>	
				<div class="col-md-6">
					<form style="margin-bottom:20px !important; margin-top:20px !important; border-left:1px solid #E5E5E5;" class="form-horizontal" name="userForm" ng-submit="logIn(userForm.$valid)">
					<div class="content">

						<h4 class="title"><b>Welcome back! Glad to see you again.</b></h4>
						<p ng-hide="showSpinner" class="text-center" style="color:red;">{{err}}</p>

						 <div class="text-center" ng-show="showSpinner" style="padding-bottom:30px;">
						 	<i class="fa fa-spin fa-4x fa-spinner"></i>
						 </div>

						<div ng-show="!showSpinner">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="email" placeholder="Email" id="username" class="form-control"  required  ng-model="email">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input type="password" placeholder="Password" id="password" class="form-control" required  ng-model="password">
									</div>
								</div>
							</div>
							 <p class="forgot-password">
							 	<a href="#/forgotpassword">Forgot password?</a>
							 </p>
						</div>	
							
					</div>
					<div class="foot" ng-show="!showSpinner">
						<a class="btn btn-default" href="#/signup">Signup</a>
						<button class="btn btn-primary"  type="submit">Log me in</button>
					</div>
				</form>
			   </div>		
			</div>
		</div>
		<div class="text-center out-links"><a href="www.cloudboost.io">&copy; 2015 HackerBay Software Private Limited</a></div>
	</div> 
</div>	