<div id="cl-wrapper" class="sign-up-container"  style="background-image: url('/assets/images/bg-header-2.jpg')">

	<div class="middle-sign-up">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">
					<a href="https://www.cloudboost.io">									
						<img class="account-logo" src="../../../assets/images/cbfull.png" alt="logo"/>
					</a>
				</h3>
			</div>

			<div>
				<div class="col-md-5">
					<div class="flex-general-column-wrapper-center" style="margin-top:80px;">
						<p style="color:#ffffff;  background-color: #3f3f3f;
						  color: white;
						  padding: 8px;
						  border-radius: 3px;
						  margin-bottom: -15px;
						  font-size:20px;">
						  <b>Hacker Plan</b>
						</p>
						<br/>
						<h1 style="color:#3f3f3f;font-size:90px"><b>$50<span style="font-size:45px">USD</span></b></h1><br/>
						<h2 style="color:#3f3f3f"><b>Free</b> credits, <br/><b>Every month</b> for life.</h2>
						<br/>
						
					</div>
				</div>		
				<div class="col-md-7" style="">
							
					<form style="margin-bottom: 30px !important; margin-top: 30px !important; border-left:1px solid #E2E2E2;" class="form-horizontal"  name="userForm" ng-submit="signUp(userForm.$valid)">
						<div class="content">						

	              			<p class="text-center" ng-show="err" style="color:red;">{{err}}</p>
	              			<div class="text-center" ng-show="showSpinner">
	              				<i class="fa fa-spin fa-4x fa-spinner"></i>
	              			</div>
	              				
	              			<!--no spinner-->		
	              			<div ng-hide="showSpinner">	
								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" name="nick"  placeholder="Your name" class="form-control" required  ng-model="name">
										</div>
	                                    <div id="nick-error"></div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<input type="email" name="email"  placeholder="E-mail" class="form-control" required  ng-model="email">
										</div>
	                  <div id="email-error"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input id="pass1" type="password" placeholder="Password" class="form-control" required  ng-model="password">
										</div>
	                 				 <div id="password-error"></div>
									</div>
								
								</div>
				             <p class="spacer">By creating an account, you agree with the <a href="https://www.cloudboost.io/terms" target="_blank">Terms and Conditions.</a></p>
				            <button class="btn btn-block btn-success btn-rad btn-lg" type="submit">Sign Up</button>
								
							  <p class="spacer">Already have an account? <a class="login-link" id="login-link" href="/accounts">Log in</a></p>	

					</div><!--no spinner-->	
				 </div>	  
				</div>
			  </form>

			</div>
		</div>
		<div class="text-center out-links"><a href="www.cloudboost.io">&copy; 2015 HackerBay Software Private Limited</a></div>
	</div> 
	
</div>


  