  
<div class="cl-mcont admin-users-page" ng-init="init()">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="" style="height:115px;width:100%;background-color:white;padding:5px;">

        <div class="cf" style="padding-top:14px;padding-left:10px;">

          <div class="pull-left" style="margin-left: 7px;margin-top:2px;">
            <p style="color:gray;font-size:18px;">API URL</p>
          </div>       
          
          <div class="pull-left" style="margin-left: 7px;margin-top:4px;">
            <input type="text" class="apiurl-txt" ng-model="serverSettings.myURL" placeholder="Enter API URL" style="height:30px;margin-top:-3px;width:500px !important;border:1px solid #E3E3E3;">
          </div>

          <div class="pull-left" style="margin-left: 7px;margin-top:1px;">
            <!--If URL is not there-->
            <div ng-show="!serverSettings.myURL">
              <button class="apiurladd-btn" ng-show="!upsertAPISpinner" ng-click="upsertAPI_URL()">Add</button>
              <button class="apiurladd-btn" ng-show="upsertAPISpinner">
                <i class="fa fa-spinner fa-spin"></i>&nbsp;Adding
              </button>
            </div>
            <!--If URL is there-->
            <div ng-show="serverSettings.myURL">
              <button class="apiurladd-btn" ng-show="!upsertAPISpinner" ng-click="upsertAPI_URL()">Change</button>
              <button class="apiurladd-btn" ng-show="upsertAPISpinner">
                <i class="fa fa-spinner fa-spin"></i>&nbsp;Updating
              </button>
            </div>
            
          </div>

        </div>       

        <div class="cf" style="margin-left:87px;">
          <div style="width:500px;">
           <span style="font-weight:700;color:red;">NOTE:</span>
           <span style="color:red;">If you change the API URL, you have to restart all the instances in the cloudboost cluster.</span>
          </div>
        </div>

      </div>  
    </div>
  </div> 


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="" style="height:70px;width:100%;background-color:white;padding:5px;">      

        <div class="cf" style="padding-top:7px;padding-left:10px;">

          <div class="pull-left" style="margin-top: 8px; width:60px;">
            <switch  ng-model="serverSettings.allowSignUp" class="green switch" ng-change="toggleAllowSignUp()"></switch>
          </div>

          <div class="pull-left" style="margin-left: 16px;margin-top: -10px;">
            <h3 style="color:gray;">Allow other developers to signup?</h3>
          </div>

        </div> 

        <!--<div class="cf" style="padding-top:7px;padding-left:10px;">

          <div class="pull-left" style="margin-top: 8px;width:60px;">
            <switch  class="green switch"></switch>
          </div>

          <div class="pull-left" style="margin-left: 7px;margin-top: -10px;">
            <h3 style="color:gray;">Charge People individually?</h3>
          </div>

        </div>-->

      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div style="height:300px; background-color:white;padding:10px;">
        <p style="font-size:20px;">Add User</p>
        <div style="border-bottom:1px solid #ddd;width:100%;"></div>

        <div style="margin-top:30px;">
          <!--Form-->   
          <div>  
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" name="nick"  placeholder="Your name" class="form-control" required  ng-model="newUser.name">
                </div>
                  <div id="nick-error"></div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="email" name="email"  placeholder="E-mail" class="form-control" required  ng-model="newUser.email">
                </div>
                <div id="email-error"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="pass1" type="password" placeholder="Password" class="form-control" required  ng-model="newUser.password">
                </div>
                <div id="password-error"></div>
              </div>
            
            </div>

            <div class="flex-general-column-wrapper-center" style="width:100%;">
              <div style="width:93.6%;">
                <button ng-show="!addUserSpinner" ng-click="addUser()" class="btn btn-block btn-success btn-rad btn-lg" type="button">Add User
                </button>

                <button ng-show="addUserSpinner" class="btn btn-block btn-success btn-rad btn-lg" type="button">
                  <i class="fa fa-spinner fa-spin" style="font-size:16px;"></i>&nbsp;
                  Adding User..
                </button>

              </div>    
            </div> 
          </div>
          <!--Form-->
        </div>  

      </div>  
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <div style="height:auto; background-color:white;padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;">
        <p style="font-size:20px;">Users</p>
        <div style="border-bottom:1px solid #ddd;width:100%;"></div>

        <!--Table-->
        <div ng-show="!loadList && !loadUsersError">
          <div class="users-table-wrapper" style="margin-top:20px;padding-left:10px;padding-right:10px;padding-bottom:10px;" lr-infinite-scroll="loadMoreUsers">
            <table class="users-table">
              <thead class="users-table-thead">
                <tr>
                  <th class="table-TxtAlign-center">
                    <div class="users-head-funname">
                      S.No
                    </div>                   
                  </th>

                  <th>
                   <div class="users-head-funname">
                      User Name
                    </div>
                  </th>

                  <th>
                    <div class="users-head-funname">
                      Role
                    </div>
                  </th>

                  <th class="table-TxtAlign-center">
                    <div class="users-head-funname">
                      Active?
                    </div>
                  </th>

                  <th class="table-TxtAlign-center">
                    <div class="users-head-funname">
                      Remove
                    </div>
                  </th>
                </tr>  
              </thead>

              <tbody class="users-table-tbody">
                <tr ng-repeat="eachUser in usersList">
                  <td width="7%" class="table-TxtAlign-center">
                    <div class="users-body-funname">
                      {{$index+1}}
                    </div>                   
                  </td>

                  <td width="40%">
                   <div class="users-body-funname">
                      <span ng-show="eachUser._id==user._id" style="font-weight:500;">{{eachUser.name}}</span>
                      <span ng-show="eachUser._id!=user._id">{{eachUser.name}}</span>
                    </div>
                  </td>

                  <td width="20%">
                    <div class="users-body-funname">
                      <select ng-disabled="eachUser._id==user._id" ng-class="{userDisabled:eachUser._id==user._id}" class="users-bodytd-select" ng-model="eachUser.isAdmin" ng-change="updateUserRole(eachUser._id,eachUser.isAdmin,$index)">
                        <option ng-selected="eachUser.isAdmin" value="true">Admin</option>
                        <option ng-selected="!eachUser.isAdmin" value="false">User</option>
                      </select>  
                    </div>
                  </td>

                  <td class="table-TxtAlign-center" width="20%">
                    <div class="users-body-funname">
                      <checkbox  ng-disabled="eachUser._id==user._id" class="hidden-col-chbx chckbx-fix"  ng-model="eachUser.isActive" ng-click="updateUserActive(eachUser._id,eachUser.isActive,$index)"></checkbox>
                    </div>
                  </td>

                  <td class="table-TxtAlign-center" width="13%">
                    <div class="users-body-funname">
                      <!--Remove-->
                      <i ng-show="!updatingUser[$index] && eachUser._id!=user._id" ng-click="deleteUser(eachUser._id,$index)" class="ion-ios-trash-outline" style="font-size:16px;cursor:pointer;margin-top:3px;"></i>

                      <span ng-show="eachUser._id==user._id" style="font-size:14px;">-</span>

                      <!--Updating Spinner-->
                      <i ng-show="updatingUser[$index]" class="fa fa-spinner fa-spin" style="font-size:16px;"></i>

                    </div>
                  </td>
                </tr>
              </tbody> 

            </table>  
          </div> 
          <!--Loading more--> 
          <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:10px;height:30px;">
            <span ng-show="loadingUsers" style="font-size:14px;font-weight:500;">
              <i class="fa fa-spinner fa-spin" style="font-size:14px;"></i>&nbsp;Loading more..
            </span>
          </div> 
          <!--/Loading more--> 

        </div> 
        <!--/Table-->

        <!--Spinners and errors-->
        <div ng-show="loadList || loadUsersError" class="users-table-wrapper flex-general-column-wrapper-center">
          <div ng-show="loadList">
             <i class="fa fa-spinner fa-spin" style="font-size:25px;"></i>
          </div> 
          <div ng-show="!loadList && loadUsersError">
            <span style="font-size:14px;color:gray;">{{loadUsersError}}</span>
          </div> 
        </div> 
        <!--/Spinners and errors--> 

      </div>
    </div>  
  </div>   
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
      <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->


  
  
