
  
<div class="cl-mcont" ng-init="init()">
  <div class="row col-sm-12 col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
   
  <div class="block block-color info">
    <div class="header">      
      <h3><i class="fa fa-cog" ></i> Your App Settings</h3>
    </div>
    <div class="content">
      <form role="form" class="form-horizontal" style="margin-top:10px !important; margin-left:-15px !important;" name="settingsForm" ng-submit="saveSettings(settingsForm.$valid)">
                  
                  <div class="form-group settings-form">
                    <label class="col-sm-4 control-label" for="nick">Your App Production Name</label>
                    <div class="col-sm-8 fg-black">
                      <input type="text" placeholder="Production name of your app." id="nick" class="form-control fg-black" ng-model="projectSettings.appProductionName" required>
                    </div>
                  </div>
                  <div class="form-group settings-form">
                    <label class="col-sm-4 control-label" for="name">Released in Production</label>
                    <div class="col-sm-8">
                      <switch  id="enabled" name="enabled" ng-model="projectSettings.isReleasedInProduction" class="blue" style="margin-top:7px;"></switch>
                    </div>
                  </div>
                  <div class="form-group settings-form">
                    <label class="col-sm-4 control-label" for="inputEmail3">Short App Description </label>
                    <div class="col-sm-8 fg-black">
                      <textarea rows="4" cols="50" placeholder="Short description for us to better understand your app." id="inputEmail3" ng-model="projectSettings.appDescription" class="form-control fg-black"></textarea>
                    </div>
                  </div> 

                  <div class="form-group settings-form">
                    <label class="col-sm-4 control-label" for="inputEmail3">Your App URL</label>
                    <div class="col-sm-8 fg-black">
                      <input type="url" placeholder="Can be the website / App Store URL" ng-model="projectSettings.url" id="inputEmail3" class="form-control fg-black">
                    </div>
                  </div>

                  <div class="form-group settings-form">
                    <div class="col-sm-offset-4 col-sm-8">
                      <!--before Save-->
                      <button class="btn btn-primary" type="submit" ng-show="!saveSettingsSpinner"><i class="fa fa-save"></i>&nbsp;Save Changes</button>
                      <!--/before Save-->

                      <!--While Saving--> 
                      <button class="btn btn-primary" ng-show="saveSettingsSpinner"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving Changes..</button> 
                      <!--/While Saving-->                      
                    </div>
                  </div>
              </form>              
    </div>
  </div>
  </div>
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
        <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->
   
  
  
