
<div ng-init="init()">

  <div class="appSettings-wrap">
    <div class="appSettings pull-left">
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12  app-settings-menusectionwrap" style="">
          <div class="app-settings-menusection">
            
            <!--Menu Items-->
            <div ng-click="selectSettings('general')" ng-class="{activeAppSettingsMenu:settingsMenu.general,hoverAppSettingsMenu:settingsMenuHover.general}" ng-mouseover="menuHover('general')" ng-mouseleave="menuLeave('general')" class="eachSetMenu flex-general-row-wrapper">
              <div class="flex-general-column-wrapper-center" style="height: 100%;width:24px;">
                <i class="icon ion-gear-b" style="font-size: 24px;"></i>
              </div>
              <div class="solo-vertical-center" style="height: 100%;margin-left: 3px;">
                <span style="font-size: 18px;">General</span>
              </div>
            </div>

            <div ng-click="selectSettings('email')" ng-class="{activeAppSettingsMenu:settingsMenu.email,hoverAppSettingsMenu:settingsMenuHover.email}" class="eachSetMenu flex-general-row-wrapper" ng-mouseover="menuHover('email')" ng-mouseleave="menuLeave('email')">
              <div class="flex-general-column-wrapper-center" style="height: 100%;width:24px;">                
                <i class="icon ion-email" style="font-size: 24px;"></i>
              </div>
              <div class="solo-vertical-center" style="height: 100%;margin-left: 3px;">
                <span style="font-size: 18px;">Email</span>
              </div>
            </div>

            <div ng-click="selectSettings('push')" ng-class="{activeAppSettingsMenu:settingsMenu.push,hoverAppSettingsMenu:settingsMenuHover.push}" ng-mouseover="menuHover('push')" ng-mouseleave="menuLeave('push')" class="eachSetMenu flex-general-row-wrapper">
              <div class="flex-general-column-wrapper-center" style="height: 100%;width:24px;">                
                <i class="icon ion-ios-bell" style="font-size: 24px;"></i>
              </div>
              <div class="solo-vertical-center" style="height: 100%;margin-left: 3px;">
                <span style="font-size: 18px;">Push Notifications</span>
              </div>
            </div>

            <div ng-click="selectSettings('auth')" ng-class="{activeAppSettingsMenu:settingsMenu.auth,hoverAppSettingsMenu:settingsMenuHover.auth}" ng-mouseover="menuHover('auth')" ng-mouseleave="menuLeave('auth')" class="eachSetMenu flex-general-row-wrapper">
              <div class="flex-general-column-wrapper-center" style="height: 100%;width:24px;">                
                <i class="icon ion-ios-bell" style="font-size: 24px;"></i>
              </div>
              <div class="solo-vertical-center" style="height: 100%;margin-left: 3px;">
                <span style="font-size: 18px;">Authentication</span>
              </div>
            </div>
            <!--/Menu Items-->            

          </div>        
        </div>        

      </div> 
    </div>   

    <!--Other section-->
    <div class="appSettings-maincontent pull-left solo-horizontal-center" style="">
      <div style="width:85%;">
        <div class="row"> 

          <div class="col-sm-12 col-md-12 col-lg-12 app-editing-sectionwrap">

            <!--/While Loading-->
            <div ng-if="settingsLoading" class="while-settings-loading flex-general-column-wrapper-center">
              <i class="fa fa-spinner fa-spin" style="font-size: 34px;color:#AAAAAA;"></i>
            </div>
            <!--While Loading-->

            <div ng-if="!settingsLoading" class="app-editing-section">
              <!--Dynamically general-->
              <div ng-if="settingsMenu.general" class="appeditablefields-general">
                <div style="height:30px;" class="flex-general-column-wrapper-center">
                  <span style="color:#549afc;font-size:24px;font-weight:bold;font-family: 'Signika Negative', sans-serif;">General Settings</span>
                </div>                

                <div style="margin-top: 20px;height: auto;width: 100%;" class="flex-general-column-wrapper-center">

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-top: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">App Name</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">The name of your app</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="generalSettings.settings.appName" class="default-inputfield" placeholder="Enter App Name" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>

                  <div class="actual-fields cf" style="border: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">App In Production</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">Is your app in production?</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <switch ng-model="generalSettings.settings.appInProduction" class="green appprod-switch"></switch>
                    </div>
                  </div>

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-bottom: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">App Icon</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">Your app icon</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">

                        <!--Add Icon-->
                        <div ng-if="!generalSettings.settings.appIcon"  style="width:100%;height: 100%;cursor: pointer;" ng-click="initAddAppIcon()" class="flex-general-column-wrapper-center">

                          <div class="flex-general-row-wrapper" style="">
                            <p style="font-size: 18px;font-weight: 700;color:#9E9E9E;">+</p>
                            <p style="font-size: 18px;font-weight: 500;color:#9E9E9E;">Add Icon</p>
                          </div>                         

                        </div>
                        <!--Add Icon-->

                        <!--Delete Icon-->
                        <div ng-if="generalSettings.settings.appIcon" style="width:100%;height: 100%;" class="solo-vertical-center">                         

                          <div  class="flex-general-row-wrapper" style="">
                            <div style="">
                              <img src="assets/images/icon.png" style="width:40px;height: 40px;">
                            </div>
                            <div class="solo-vertical-center" ng-click="removeAppIcon()" style="height: 44px;cursor: pointer;">                              
                              <p style="font-size: 18px;font-weight: 500;color:#C41919;">&nbsp;Remove</p>
                            </div>
                          </div>

                        </div>
                        <!--Delete Icon-->                     

                    </div>

                  </div>            
                  
                  <div class="flex-general-column-wrapper-center" style="width: 94%;margin-top: 35px;">        

                    <!--Save-->
                    <div ng-show="!spinners[generalSettings.category]" style="margin-left:3px;width: 140px;">                    
                      <button  ng-click="updateSettings(generalSettings.category)" class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">
                      Save
                      </button>
                    </div>

                    <!--While Saving..-->
                    <div ng-show="spinners[generalSettings.category]" style="margin-left:3px;width: 170px;">               
                      <button  class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">&nbsp;
                      <i class="fa fa-spinner fa-spin"></i>
                      Saving..
                      </button>
                    </div>

                  </div>

                </div>
              </div>
              <!--Dynamically general-->

              <!--Dynamically email-->
              <div ng-if="settingsMenu.email" class="appeditablefields-email">
                <div style="height:30px;" class="flex-general-column-wrapper-center">
                  <span style="color:#549afc;font-size:24px;font-weight:bold;font-family: 'Signika Negative', sans-serif;">Email Settings</span>
                </div>                

                <div style="margin-top: 20px;height: auto;width: 100%;" class="flex-general-column-wrapper-center">

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-top: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">Mandrill API Key</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">
                        API Key of <a href="https://www.mandrill.com/" target="_blank" style="color:#549afc;">Mandrill email service</a>.
                        </span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="emailSettings.settings.mandrillApiKey" class="default-inputfield" placeholder="Enter Mandrill API Key" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-top: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">From Email</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">Email address which you want an email to be sent from.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="emailSettings.settings.email" class="default-inputfield" placeholder="Enter From Email" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>
                 

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-top: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">From Name</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">Name you want an email to be sent from.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="emailSettings.settings.from" class="default-inputfield" placeholder="Enter From Name" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>

                  <div class="actual-fields cf" style="border-left: 1px solid #EDEDED;border-right: 1px solid #EDEDED; border-top: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:105px;width:100%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">Reset Password Email Template</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">This is where you can change your reset password email template.</span>
                      </div>
                      <div style="width: 100%;margin-top: 9px;">
                        <div style="font-size: 14px;line-height:12%;color:#B2B2B2;">
                          You can add <span style="font-weight: bold;">*|NAME|*</span> for user name and with <span style="font-weight: bold;">&lt;a href="*|LINK|*" &gt;Reset Password&lt;/a&gt;</span>
                        </div>                        
                      </div>
                      <div style="width: 100%;margin-top: 18px;">                    
                        <div style="font-size: 14px;line-height:12%;color:#B2B2B2;">
                         for password reset link in your email template
                        </div>
                      </div>

                    </div>
                    
                  </div>

                  <!--HTML Editor-->
                  <div class="actual-fields cf" style="border:1px solid #EDEDED;">
                    <div style="height: auto;">                     

                      <text-angular ng-model="emailSettings.settings.template"></text-angular>

                    </div>                  
                  </div>
                  <!--/HTML Editor-->                
                  
                  <div class="flex-general-column-wrapper-center" style="width: 94%;margin-top: 35px;">     

                    <!--Save-->
                    <div ng-show="!spinners[emailSettings.category]" style="margin-left:3px;width: 140px;">
                      <button ng-click="updateSettings(emailSettings.category)" class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">
                      Save
                      </button>
                    </div>

                    <!--While Saving..-->
                    <div ng-show="spinners[emailSettings.category]" style="margin-left:3px;width: 170px;">               
                      <button  class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">&nbsp;
                      <i class="fa fa-spinner fa-spin"></i>
                      Saving..
                      </button>
                    </div>

                  </div>                

                </div>
              </div>
              <!--Dynamically email-->

              <!--Dynamically push-->
              <div ng-if="settingsMenu.push" class="appeditablefields-push">
                <div style="height:30px;" class="flex-general-column-wrapper-center">
                  <span style="color:#549afc;font-size:24px;font-weight:bold;font-family: 'Signika Negative', sans-serif;">Push Notifications Settings</span>
                </div>               

                <div style="margin-top: 30px;height: auto;width: 100%;" class="flex-general-column-wrapper-center">

                  <div style="width:94%;margin-top: 25px;" class="flex-general-column-wrapper-center">
                    <div class="width:100%;">
                      <span style="font-size: 18px;font-weight: bold;color:#549afc;">
                        <i class="fa fa-apple" style="margin-right: 4px;"></i>
                        Apple Push Certificates
                      </span>
                    </div>
                    <div class="width:100%;">
                      <span style="font-size: 14px;color:#576175;"></span>
                    </div>                  
                  </div>

                  <div class="actual-fields cf" style="border: 1px solid #EDEDED;margin-top: 15px;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">Certificate file</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">Upload your .p12 certificate file to enable push for iOS and OS X.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">

                      <!--Add File-->
                      <div style="width:100%;height: 100%;cursor: pointer;" ng-click="initAddAppleCertificate()" class="flex-general-column-wrapper-center">

                        <div ng-if="pushSettings.settings.apple.certificates.length==0" class="flex-general-row-wrapper" style="">
                          <p style="font-size: 18px;font-weight: 700;color:#9E9E9E;">+</p>
                          <p style="font-size: 18px;font-weight: 500;color:#9E9E9E;">Add Certificate</p>
                        </div>

                        <div ng-if="pushSettings.settings.apple.certificates.length>0" class="flex-general-row-wrapper" style="">
                          <p style="font-size: 16px;font-weight: 700;color:#9E9E9E;">
                          <i class="fa fa-refresh"></i></p>
                          <p style="font-size: 18px;font-weight: 500;color:#9E9E9E;">&nbsp;Change Certificate</p>
                        </div>

                      </div>
                      <!--Add File-->

                      <!--Certificates List-->
                      <div>
                      </div>
                      <!--Certificates List-->

                    </div>
                  </div>


                  <div style="width:94%;margin-top: 65px;" class="flex-general-column-wrapper-center">
                    <div class="width:100%;">
                      <span style="font-size: 18px;font-weight: bold;color:#549afc;">
                        <i class="fa fa-android" style="margin-right: 4px;"></i>
                        Android Push Credentials
                      </span>
                    </div>                                     
                  </div>


                  <div class="actual-fields cf" style="border: 1px solid #EDEDED;margin-top: 15px;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">Sender ID</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">This is an integer listed under "Project Number" in the Google API console.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="pushSettings.settings.android.credentials[0].senderId" class="default-inputfield" placeholder="Enter Sender ID" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>

                  <div class="actual-fields cf" style="border-bottom: 1px solid #EDEDED;border-right: 1px solid #EDEDED;border-left: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">API Key</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">This is listed under the "Authentication" section of the Google API console.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="pushSettings.settings.android.credentials[0].apiKey" class="default-inputfield" placeholder="Enter API Key" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>
                
                  <div style="width:94%;margin-top: 65px;" class="flex-general-column-wrapper-center">
                    <div class="width:100%;">
                      <span style="font-size: 18px;font-weight: bold;color:#549afc;">
                        <i class="fa fa-windows" style="margin-right: 4px;"></i>
                        Windows Push Credentials
                      </span>
                    </div>                                                      
                  </div>


                  <div class="actual-fields cf" style="border-top: 1px solid #EDEDED;border-right: 1px solid #EDEDED;border-left: 1px solid #EDEDED;margin-top: 15px;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F"> Package Security Identifier (SID)</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">The unique identifier of your Windows Store app.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" ng-model="pushSettings.settings.windows.credentials[0].securityId" class="default-inputfield" placeholder="Enter Security Identifier" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>
                  <div class="actual-fields cf" style="border: 1px solid #EDEDED;">
                    <div class="pull-left" style="height:95px;width:60%;padding:15px;">

                      <div style="width: 100%;">
                        <span style="font-size: 16px;font-weight: bold;color:#7F7F7F">Client Secret</span>
                      </div>

                      <div style="width: 100%;margin-top: 3px;">
                        <span style="font-size: 14px;line-height:12%;color:#B2B2B2;">The secret key.</span>
                      </div>

                    </div>

                    <div class="pull-right solo-vertical-center" style="height: 95px;width:39%;background-color: #F6FAFB;padding:15px;">
                      <input type="text" class="default-inputfield" ng-model="pushSettings.settings.windows.credentials[0].clientSecret" placeholder="Enter Client Secret" style="width:90%;height:30px;background-color: transparent;font-size: 18px;color:black;">
                    </div>
                  </div>

                  <div class="flex-general-column-wrapper-center" style="width: 94%;margin-top: 45px;">     

                    <!--Save-->
                    <div ng-show="!spinners[pushSettings.category]" style="margin-left:3px;width: 140px;">
                      <button ng-click="updateSettings(pushSettings.category)" class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">
                      Save
                      </button>
                    </div>

                    <!--While Saving..-->
                    <div ng-show="spinners[pushSettings.category]" style="margin-left:3px;width: 170px;">               
                      <button  class="default-inputfield" style="width:100%;height: 37px;background: #549afc;color:white;font-size: 18px;border-radius: 3px;">&nbsp;
                      <i class="fa fa-spinner fa-spin"></i>
                      Saving..
                      </button>
                    </div>

                  </div>

                </div>
              </div>
              <!--Dynamically push-->
            </div>
          </div>
        </div> 
      </div>        
    </div>
    <!--Other section--> 
  </div>  
      
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
  <div class="intercomm flex-general-column-wrapper-center">    
    <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
  </div> 
</a>
<!--/Slack chat-->

<!--File Directive -->
<div class="modal fade colored-header danger" id="md-appsettingsfileviewer" tabindex="-1" role="dialog">
  <dashboard-file filetype="fileAllowedTypes" edit="editableFile" delete="deleteFile()" save="saveFile(fileObj)"></dashboard-file>
</div> 
<!--/File Directive -->
