
  
    <div class="cl-mcont" ng-init="init()">
      <div class="row">   

        <div class="col-sm-12 col-md-6 col-lg-3" style="height:330px">
          <div class="block block-color info">
            <div class="header">      
              <h3><i class="fa fa-plus-circle"></i>&nbsp;create an app</h3>
            </div>
            <div class="content">
              <form role="form" name="projectForm" ng-submit="createProject(projectForm.$valid)"> 
                <div class="form-group">
                  <label>App Name</label>
                   <input type=""  class="form-control" placeholder="Enter Project Name" required ng-model="name">
                </div>
                <div class="form-group"> 
                  <label>App ID</label> 
                  <input type="text" class="form-control" placeholder="Enter App ID" required ng-model="appId">
                </div>                                  
                  <center>
                    <button data-ng-show="showSaveBtn" type="submit" class="btn btn-info btn-rad btn-trans">
                      <i class="fa fa-plus buttonIcon"></i>&nbsp;Create new app
                      <i data-ng-hide="showSaveBtn" class="fa fa-spinner fa-spin fa-2x"></i>
                    </button>
                  </center>
              </form>
            </div>
          </div>
        </div>

      <!--App List --> 
       <div class="col-sm-12 col-md-6 col-lg-3" ng-repeat="list in projectListObj" style="height:330px">


          <!-- Details --> 
          <div class="block block-color" data-ng-class="{success : list.status.status === 'online', danger : list.status.status === 'offline' }" ng-show="!showProject">
            <div class="header">
             <div class="actions">
                <a ng-click="showProject=!showProject"><i class="fa fa-pencil" style="font-size:1.3em"></i></a>
              </div>     
              <h3><i class="fa fa-cloud "></i>&nbsp;&nbsp;{{list.name}}</h3>
            </div>
            <div class="content">
               <div class="alert alert-success alert-white rounded">
                <div class="icon"><i class="fa fa-check"></i></div>
                Your app is <strong>Online</strong>
               </div>

               <div data-ng-show="list.status.status === 'offline'" class="alert alert-danger alert-white rounded">
                <div class="icon"><i class="fa fa-times-circle"></i></div>
                Your app is <strong>Offline</strong>
               </div>

               <div class="input-group">
                  <span class="input-group-addon">App ID</span>
                  <span class="form-control"><b>{{list.appId}}</b></span>
               </div>

               <br/><br/>

                <center>
                  <button type="button" class="btn btn-default" data-placement="top" ng-click="goToTableDesigner(list)"><i class="fa fa-database"></i> &nbsp; Data</button>
                <button type="button" class="btn btn-default" ng-click="viewKeys(list)"><i class="fa fa-lock"></i> &nbsp; App Keys</button>
                </center>

            </div>
          </div>



          <!-- Edit -->
          <div class="block block-color fadedPrimary" ng-show="showProject">
            <div class="header">
              <h3><i class="fa fa-pencil "></i>&nbsp;&nbsp;edit project</h3>
            </div>

            <div class="content">
              <form role="form" class="projectForm" name="editProjectForm" ng-submit="editProject(editProjectForm.$valid,$index,list.appId,editProjectName,editProjectUrl)">
                          
                            <div class="form-group formControlGroup">
                              <label class="formLabel">New App Name</label>
                              <input type="text" class="form-control projectFormControl"   required  ng-init="editProjectName=list.name" ng-model="editProjectName">
                            </div>                           
                            <center data-ng-show="!isLoading[$index]">
                                <button type="submit" class="btn btn-default"><i class="fa fa-save"></i>Save</button>
                               <button type="button" class="btn btn-default" ng-click="showProject=!showProject"><i class="fa fa-times"></i>Cancel</button>
                            </center>
                            <div class="row">
                              <div class="col-md-12">
                                <center data-ng-if="isLoading[$index]">
                                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                                </center>                            
                                <center data-ng-if="!isLoading[$index]">
                                    <button type="button" ng-click="deleteProject(list, $index)" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;Delete App</button>
                                <center>
                             </div>
                          </div>
                      </form>
            </div>
          </div>
        </div>
    </div>
  </div>

<!-- Keys Modal -->
<div class="modal fade colored-header" id="keysModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h3>App Keys</h3>
        <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body form">
       
        <div class="form-group">
          <label>App ID</label>        
          <div class="input-group">
                <input type="text" class="form-control" ng-model="selectedProject.appId">
                <span class="input-group-btn">
                <button class="btn btn-prusia" type="button" clip-copy="selectedProject.appId" ng-click="copyKeys('appId')">{{appKeysText.appId}}</button>
                </span>
          </div>
        </div>

        <div class="form-group">
          <label>Master key</label>         
          <div class="input-group">
                <input type="text" class="form-control" ng-model="selectedProject.keys.master">
                <span class="input-group-btn">
                <button class="btn btn-prusia" type="button" clip-copy="selectedProject.keys.master" ng-click="copyKeys('masterKey')">{{appKeysText.masterKey}}</button>
                </span>
          </div>
        </div>        

        <div class="form-group">
          <label>Javascript key</label>          
          <div class="input-group">
                <input type="text" class="form-control" ng-model="selectedProject.keys.js">
                <span class="input-group-btn">
                <button class="btn btn-prusia" type="button" clip-copy="selectedProject.keys.js" ng-click="copyKeys('javascriptKey')">{{appKeysText.javascriptKey}}</button>
                </span>
          </div>
        </div>      

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Close</button>  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.Keys Modal -->

   
  
  
