
<div class="new-queues-page" ng-init="init()">
  <div class="row">
    <div class="apps-panel-wrapper">
      <!--Search Cache-->
      <div class="cache-search-wrapper">        
        <div class="flex-general-row-wrapper cache-search-container">
          <!--Search Icon-->           
          <i class="icon ion-ios-search-strong" style="font-size: 24px;margin-top: -2px !important;color:#bcb4b0;" ></i>     

          <!--Search Input-->
          <div class=""  style="height:100%;width:92.5%;margin-left:4px;">
            <input type="text" class="cache-search-input" style="width:100%;height:100%;" placeholder="Search Cache" ng-model="searchThisName">
          </div>        

        </div> 
      </div>
      <!--/Search Cache-->
      
      <div class="cache-list-wrapper">
        <div class="cache-list-container" malihuscrollbar-for-popup> 

          <!--Info-->
          <div class="each-cache-wrapper flex-general-row-wrapper">
            <div class="cache-resembler-wrapper flex-general-column-wrapper-center">
              <i class="fa fa-bolt" style="color:black;font-size:17px;"></i>
            </div>
            <div class="cache-app-name-wrapper" style="padding-top:3px;">
              <span style="color:black;font-size:14px;font-weight:bold !important;">Cache Name</span>
            </div>
          </div> 
          <!--/End info-->          

        </div>
      </div>            

    </div>

    <div class="cache-secondary-strip pull-left">
      

      <!--Create Cache-->
      <div class="pull-right" style="margin-right:32px;">
        <div class="flex-general-row-wrapper" style="height:100%;padding-top:6px;cursor:pointer !important;" ng-click="initCreateCache()">

          <div class=""  style="height:100%;margin-top:5px;">
            <div class="flex-general-column-wrapper-center" style="height:27px;width:27px;">
              <i class="icon ion-plus" style="font-size: 20px;margin-top: 0px !important;color:#bcb4b0;" ></i>
            </div>
          </div>

          <div class=""  style="height:100%;">
            <div class="" style="height:40px;width:100px;margin-top:9px;">
              <span style="font-size:14px;color:#bcb4b0;">Create Cache</span>
            </div>
          </div>

        </div>
      </div>
      <!--/Create Cache-->

    </div>

  </div>

    
  

  
      
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
  <div class="intercomm flex-general-column-wrapper-center">    
    <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
  </div> 
</a>
<!--/Slack chat-->


<!--Create Cache modal-->
<div class="modal fade colored-header primary" id="md-createcachemodel" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      <div style="height:80px; width:100%;padding:13px;background-color:#549afc;border-top-left-radius:4px;border-top-right-radius:4px;">
        <div class="pull-left" style="padding-left:8px;">
          <div>
            <span style="font-size:22px;color:white;">Create new cache</span>
          </div>

          <div>
            <span style="font-size:14px;color:white;">It makes your app faster...</span>
          </div>

        </div> 
        <div class="pull-right" class="flex-general-column-wrapper-center" style="padding-right:8px;height:56px;width:56px;border-radius:50px;background-color:#0F6DA6;">
          <div class="flex-general-column-wrapper-center" style="height:56px;width:56px;">
            <i class="fa fa-bolt" style="font-size:30px;color:white;"></i>
          </div>
        </div>         
      </div>

      <!--Saving Errors--> 
      <div style="width:100%;">
        <div  ng-show="cacheModalError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:cacheModalError}" class="fadeIn">

          <div class="pull-left" style="padding-top:1px;">                
            <span>{{cacheModalError}}</span>
          </div>

          <div class="pull-right" ng-click="cacheModalError=!cacheModalError">
            <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
          </div>  

        </div>  
      </div>  
      <!--/Saving Errors-->
      
      <div class="modal-body" style="border-top:1px solid #dddbdb;">
        <div style="width:100%;">
          
          <div class="flex-general-column-wrapper-center" style="width:100%;">            

            <div class="flex-general-column-wrapper-center" style="width:50%;margin-left:65px;">           
              <div class="flex-general-column-wrapper-center" style="width:100%;height:50px;">
                <input type="text" ng-model="newCacheName" class="defaultInput-txt" style="width:100%;height:100%;font-size:18px;" placeholder="Pick up a good name..">
              </div>
            </div>

          </div>                

        </div>  
      </div>  

      <div class="modal-footer">        
        <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>        

        <!--Create-->
        <button type="button" ng-show="!createCacheSpinner" class="btn btn-primary" ng-click="createCache()" style="width:120px; border-radius:3px !important;">Create</button>        

         <!--While Deleting-->
        <button type="button" ng-show="createCacheSpinner" class="btn btn-primary" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Creating..</button>  
 
      </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->   
<!--/Create Cache modal-->

<!--Add New Item modal-->
<div class="modal fade colored-header primary" id="md-addnewitem" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      <div style="height:55px; width:100%;padding:13px;">
        <div class="pull-left" style="padding-left:8px;">
          <span style="font-size:18px;">Add New Item</span>
        </div>          
      </div>

      <!--Saving Errors--> 
      <div style="width:100%;">
        <div  ng-show="cacheModalError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:cacheModalError}" class="fadeIn">

          <div class="pull-left" style="padding-top:1px;">                
            <span>{{cacheModalError}}</span>
          </div>

          <div class="pull-right" ng-click="cacheModalError=!cacheModalError">
            <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
          </div>  

        </div>  
      </div>  
      <!--/Saving Errors-->
      
      <div class="modal-body" style="border-top:1px solid #dddbdb;">
        <div class="flex-general-column-wrapper-center" style="width:100%;">
          
          <div class="flex-general-row-wrapper" style="width:88%;">
            <div class="" style="width:13.5%;height:29px;">
              <p class="pull-right" style="font-size:14px;">Key</p>              
            </div> 

            <div class="" style="width:81%;margin-left:10px;">           
              <div class="" style="width:100%;height:29px;border:1px solid #ADABAB;">
                <input type="text" ng-model="newItem.key" class="defaultInput-txt" style="width:100%;height:100%;">
              </div>
            </div>
          </div>

          <div class="flex-general-row-wrapper" style="width:88%;margin-top:7px;">
            <div class="" style="width:13.5%;height:29px;">
              <p class="pull-right" style="font-size:14px;">Value</p>              
            </div> 

            <div class="" style="width:81%;margin-left:10px;">           
              <div class="" style="width:100%;border:1px solid #ADABAB;">
                <textarea rows="4" cols="50" ng-model="newItem.value" class="defaultInput-txt" style="width:100%;height:100%;resize: none;"></textarea>
              </div>
            </div>
          </div>         

        </div>  
      </div>  

      <div class="modal-footer">        
        <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>        

        <!--Disabled-->
        <button type="button" ng-show="cacheModalError && !confirmSpinner" style="color:gray;cursor:pointer !important; width:124px;" class="btn">Add Item</button>

        <!--Delete-->
        <button type="button" ng-show="!confirmSpinner && !cacheModalError" ng-click="addNewItem()" class="btn btn-primary" style="width:120px; border-radius:3px !important;">Add Item</button>  

         <!--While Deleting-->
        <button type="button" ng-show="confirmSpinner" class="btn btn-primary" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Adding Item..</button>  
 
      </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->   
<!--/Add New Item modal-->
  


<!--delete cache modal-->
<div class="modal fade colored-header danger" id="md-deletecache" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      <div style="height:55px; width:100%;padding:13px;">
        <div class="pull-left" style="padding-left:8px;">
          <span style="font-size:18px;">Delete Cache</span>
        </div>          
      </div>

      <!--Saving Errors--> 
      <div style="width:100%;">
        <div  ng-show="cacheModalError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:cacheModalError}" class="fadeIn">

          <div class="pull-left" style="padding-top:1px;">                
            <span>{{cacheModalError}}</span>
          </div>

          <div class="pull-right" ng-click="cacheModalError=!cacheModalError">
            <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
          </div>  

        </div>  
      </div>  
      <!--/Saving Errors-->
      
      <div class="modal-body" style="border-top:1px solid #dddbdb;">
        <div class="text-center">
                 
          <p>To delete, type in the cache name.</p>
          <center>
            <input type="text" class="form-control" ng-model="confirmCacheName" required style="width:400px;"/>
          </center>                    
        </div>
      </div>  

      <div class="modal-footer">        
        <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>

        <!--Disabled-->
        <button type="button" ng-show="cacheModalError && !confirmSpinner" style="color:gray;cursor:pointer !important; width:124px;" class="btn">Delete Cache</button>

        <!--Delete-->
        <button type="button" ng-show="!confirmSpinner && !cacheModalError" ng-click="deleteCache()" class="btn btn-danger" style="width:120px; border-radius:3px !important;">Delete Cache</button>  

         <!--While Deleting-->
        <button type="button" ng-show="confirmSpinner" class="btn btn-danger" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Deleting Cache..</button> 
      </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


<!--Clear cache modal-->
<div class="modal fade colored-header danger" id="md-clearcache" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content">

    <div style="height:55px; width:100%;padding:13px;">
      <div class="pull-left" style="padding-left:8px;">
        <span style="font-size:18px;">Clear Cache</span>
      </div>          
    </div>

    <!--Saving Errors--> 
    <div style="width:100%;">
      <div  ng-show="cacheModalError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:cacheModalError}" class="fadeIn">

        <div class="pull-left" style="padding-top:1px;">                
          <span>{{cacheModalError}}</span>
        </div>

        <div class="pull-right" ng-click="cacheModalError=!cacheModalError">
          <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
        </div>  

      </div>  
    </div>  
    <!--/Saving Errors-->
    
    <div class="modal-body" style="border-top:1px solid #dddbdb;">
      <div class="text-center">
               
        <p>To Clear, type in the cache name.</p>
        <center>
          <input type="text" class="form-control" ng-model="confirmCacheName" required style="width:400px;"/>
        </center>                    
      </div>
    </div>  

    <div class="modal-footer">        
      <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>

      <!--Disabled-->
      <button type="button" ng-show="cacheModalError && !confirmSpinner" style="color:gray;cursor:pointer !important; width:124px;" class="btn">Clear Cache</button>

      <!--Delete-->
      <button type="button" ng-show="!confirmSpinner && !cacheModalError" ng-click="clearCache()" class="btn btn-danger" style="width:120px; border-radius:3px !important;">Clear Cache</button>  

       <!--While Deleting-->
      <button type="button" ng-show="confirmSpinner" class="btn btn-danger" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Clearing Cache..</button> 
    </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  