
        
<div class="cl-mcont aside" data-ng-init="initialize()">
   <div class="page-aside"> 
        <div class="block-flat">
            <div class="header">              
              <h2>Tables</h2>
            </div>
            
              <div class="row">                 
                  <ul class="nav nav-pills nav-stacked tableUl margin-bottom">
                      <li class="tableList flex-li" ng-repeat="t in currentProject.currentTables" ng-click="selectTable(t)" ng-class="{liActive: (selectedTable === t)}">
                          <div class="flex-wrapper">

                            <div class="flex-items tableIcon">
                              <i class="fa fa-{{t.type.icon}} fa-lg"></i>
                            </div> 

                            <div class="flex-items tableName">
                              <p>{{t.name}}</p>
                            </div>
                          </div>  
                      </li>
                  </ul>
              </div>
            
        </div>       
    </div>   
    
    <div class="content" style="background-color:white">
      <div class="row">
        <div class="col-md-12">
          <!--No tables-->    
          <div  ng-show="currentProject.currentTables.length==0">
             <h2><i class="fa fa-exclamation"></i>&nbsp;No tables, Add tables in your <a href="#/{{currentProject.appId}}/data/designer/table/tableId">&nbsp;Table Designer</a></h2>
         </div>

         <!--tables tools-->
         <div ng-show="currentProject.currentTables.length>0">
            <button ng-click="addRow()" type="submit" class="btn btn-info btn-rad btn-trans"><i class="fa fa-plus-square fa-lg"></i>&nbsp;Row</button>               

            <button ng-click="deleteRow()" type="submit" class="btn btn-info btn-rad btn-trans"><i class="fa fa-minus-square fa-lg"></i>&nbsp;Row</button>

            <button ng-click="refresh()" type="submit" class="btn btn-info btn-rad btn-trans"><i class="fa fa-refresh fa-lg" ng-class="{'fa-spin':isRefreshed}"></i>&nbsp;Refresh</button>

            <button ng-show="selectedTable.isColumn" ng-click="removeRelation()" type="submit" class="btn btn-info btn-rad btn-trans"><i class="fa fa-scissors fa-lg"></i>&nbsp;Remove Relation</button>      
        </div>

        </div>  
      </div>

      <!--grid row starts-->
      <div class="row" style="margin-top:3px;" ng-show="currentProject.currentTables.length>0">
          <div class="col-md-12">                                                  
                <div class="content grid-parent">
                  <!--grid-->
                  <div class="table-responsive grid" ui-grid-edit ui-grid-pagination ui-grid-resize-column ui-grid-selection ui-grid-resize-columns external-scopes="clickHandler" ui-grid="gridOptions" style="height:504px; width:990px;">
                  </div>
                  <!--/grid--> 
                </div>                     
          </div>
      </div>
      <!--grid row ends-->

    </div>
</div>

<!-- EditJSON Modal -->
<div id="jsonModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Object Viewer</h4>
      </div>
      <div class="modal-body" >
        <pre pretty-json="jsonObj" edition="true" style="min-height:200px">
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="saveObjectChanges()" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Relation List Modal -->
<div class="modal fade colored-header" id="relation-list" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h3>List</h3>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">

        <div class="add-field-btn">         
            <button ng-click="addStaticTypeField()" class="btn btn-info btn-rad btn-trans">
            <i class="fa fa-plus-square fa-lg"></i>&nbsp;Add field</button>          
        </div> 

        <div class="row" ng-repeat="eachField in staticTypeListFields">

          <!--field-->
          <div class="form-group col-md-12 no-margin">
            <div class="pull-left" style="margin-top:3px;!important;">
              
                <!--Text-->
                <input ng-if="relationDataType=='Text'" type="text" ng-model="eachField.value"  placeholder="Text">

                <!--Email-->
                <input ng-if="relationDataType=='Email'" type="email" ng-model="eachField.value" class="form-control" placeholder="Email">

                <!--URL-->
                <input ng-if="relationDataType=='URL'" type="url" ng-model="eachField.value" class="form-control" placeholder="URL">

                <!--Number-->
                <input ng-if="relationDataType=='Number'" type="number" ng-model="eachField.value" class="form-control" placeholder="Number">

                <!--Boolean-->
                <switch ng-if="relationDataType=='Boolean'" id="enabled" name="enabled"  style=" margin-left:3px; margin-right:5px;" class="blue"  ng-model="eachField.value"></switch>

                <!--DateTime-->
                <input  ng-if="relationDataType=='DateTime'" kendo-date-time-picker style="width:100%"  ng-model="eachField.value"/>

                <!--File-->
                <input  ng-if="relationDataType=='File'" fileupload-modal type="file" style="width:100%"  ng-model="eachField.value.url"/>                
              
            </div>
             <div class="pull-left list-tools">
                <a class="label label-danger" ng-click="deleteStaticTypeField($index)">
                    <i class="fa fa-times"></i>
                </a>                     
            </div>
          </div>

        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
      <button type="button" ng-show="!saveStaticTypeSpinner" class="btn btn-primary btn-flat" ng-click="saveStaticTypeField()">Save</button>

      <button type="button" ng-show="saveStaticTypeSpinner" class="btn btn-primary btn-flat">
        <i class="fa fa-spinner fa-spin"></i>Saving..</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 




  


   
  
  
