<div class="cl-mcont2" style="background-color:#F4F6F7;" ng-init="init()"> 

  <!--Table Header-->
  <div class="row data-row" style="background-color:{{currentProject.currentTable.tableColor || '#3A5795'}};">
      <div class="col-md-12">
          <div class="dataView-header flex-general-row-wrapper">
            <div class="headerL">
              <a ng-click="goToTables()" class="flex-general-row-wrapper" style="cursor:pointer;">
                <div class="back-arrow">
                  <i class="fa fa-angle-left fa-2x"></i>
                </div>
                <div>
                  <h3>Tables</h3>
                </div>
              </a>

            </div> 
            <div class="headerC flex-general-row-wrapper-center">

              <div ng-show="isTableLoaded" class="tableNameDiv flex-general-row-wrapper">              
                <h3 ng-click="showTableList=!showTableList">{{currentProject.currentTable.name}}</h3> 
                <i class="fa fa-angle-down fa-2x" ng-click="showTableList=!showTableList"></i>                

                <!--DropDown for TableList-->
                <div class="tableList-wrapper" ng-show="showTableList">
                  <div style="background-color:white;width:99.99%; height:210px;" malihuscrollbar-for-popup>

                  <div  ng-repeat="t in currentProject.tables" style="width:240px !important;">
                    <a href="" ng-click="goToDataBrowser(t)">
                    <div class="selectTableList cf" style="padding:5px;height:30px;width:100%;">

                      <div class="pull-left">
                        <i class="fa fa-{{t.type.icon}}" style="margin-top:-10px;"></i>
                      </div>
                      <div class="pull-left" style="margin-left:6px;">
                        <span>{{t.name}}</span>
                      </div>
                        
                    </div> 
                    </a> 
                  </div>

                  </div>  
                </div>  
                <!--/DropDown for TableList-->             
              </div>  
              
            </div>
            <div class="headerR">             
            </div>            
          </div>  
      </div>
  </div>
  <!--/Table Header-->

  <!--Table-->
  <div ng-show="isTableLoaded" class="row data-table-def">
     <div class="col-md-12">
        <div id="scrollbar-wrapper" class="data-table-design" malihuscrollbar> 

         <table class="smoothTable">
          <thead>            
            <tr class="cust-head-tr">
              <th class="fTh cf">
                <div class="fThDiv">
                  <checkbox class="btn-default checkBxDflt"  ng-model="rt"></checkbox>
                </div>                  
             </th>
              <th class="cust-th" ng-repeat="column in currentProject.currentTable.columns">              
                <div class="cust-cell flex-general-row-wrapper">
                  <div class="cust-cell-name flex-general-row-wrapper">                    
                    <div class="col-name">
                       <span style="display:inline">
                        <i class="fa fa-paperclip col-icon-size" style="padding-top: 5px;padding-right: 6px;"></i>
                        {{column.name}}
                      </span>
                    </div>
                  </div> 

                  <div class="cust-cell-dropdwn">
                       <i class="fa fa-angle-down dropdown-icon-size" style="padding-top: 4.6px;"></i>
                  </div>
                </div>

                  <!--col dropdown-->
                  <div class="col-dropdown effect-less">
                    <div class="flex-general-column-wrapper">
                      <div class="col-optionz">
                        <span class="col-options-span">
                          <i class="fa fa-paperclip " style="padding-top: 5px;padding-right: 6px;"></i>
                          ColumnName
                        </span>
                      </div>

                    </div>  
                  </div>
                  <!--/col dropdown-->
              </th> 

             <!--Extra Add Column-->
              <th class="addColTh">
                <div class="addColThDiv">                 
                  <div class="flex-general-row-wrapper-center" ng-mouseenter="showNewColumnPreview=!showNewColumnPreview" ng-mouseleave="showNewColumnPreview=!showNewColumnPreview" ng-click="initiateColumnSettings()">
                      <span>+</span>
                  </div>                                     
                </div> 

                <!--Add Column PopUp-->
                <div class="addColPopUpWrapper" ng-show="showAddColPopUp">
                  <form name="addNewColumnForm" ng-submit="addColumn(addNewColumnForm.$valid)">
                      <div>
                        <label class="addcollabel" style="font-size:13px;">Enter new column name</label>
                        <input class="default-form-elem newcolInput noFocus" type="text" placeholder="New column name" required ng-keyup="checkErrorsForCreate(newColumnObj.name,currentProject.currentTable.columns,'column')" ng-model="newColumnObj.name">
                      </div>

                      <!--Default Select DataType--> 
                      <div style="margin-top:5px;">
                        <label class="addcollabel" style="font-size:13px;">Select Datatype</label>
                         <select   class="default-form-elem noFocus" ng-model="newColumnObj.dataType">
                              <option ng-repeat="dTypes in colDataTypes" ng-show="dTypes.visible" ng-selected="newColumnObj.dataType==dTypes.name" value="{{dTypes.name}}">{{dTypes.text}}</option>
                          </select>
                      </div>

                      <!--if dataType is List-->
                      <div  ng-if="newColumnObj.dataType=='List'" style="margin-top:5px;">
                        <label class="addcollabel" style="font-size:13px;">Select Target Type</label>
                         <select   class="default-form-elem noFocus" ng-model="newColumnObj.relatedTo">
                              <option ng-repeat="eachTable in currentProject.tables"  value="{{eachTable.name}}">{{eachTable.name}}</option>
                      
                            <option ng-repeat="dTypes in colDataTypes | filter:filterDataType"  ng-show="dTypes.visible"  value="{{dTypes.name}}">{{dTypes.text}}</option>
                          </select>
                      </div>

                      <!--if dataType is Relation-->
                      <div  ng-if="newColumnObj.dataType=='Relation'" style="margin-top:5px;">
                        <label class="addcollabel" style="font-size:13px;">Target Type</label>
                         <select   class="default-form-elem noFocus" data-ng-model="newColumnObj.relatedTo">
                            <option ng-repeat="eachTable in currentProject.tables"  value="{{eachTable.name}}">{{eachTable.name}}
                            </option>
                          </select>
                      </div>

                      <div  class="flex-add-Bx" style="margin-top:8.5px;">
                        <!---->
                        <!--Column required--> 
                        <div class="add-Bx">
                              
                            <div  class="flex-add-Bx">
                                <div class="add-Bx">
                                    <label class="addcollabel">Required</label>              
                                </div>
                                <div class="add-Bx" style="margin-left:18px;">                                   
                                    <checkbox class="btn-default checkBxDflt" ng-model="newColumnObj.required" style="border: 1px solid #DBDCDD;"></checkbox>
                                </div>         
                            </div>

                        </div>
                        <!--Column unique-->
                        <div class="add-Bx">

                            <div  class="flex-add-Bx">
                                <div class="add-Bx">
                                     <label class="addcollabel">Unique</label>              
                                </div>
                                <div class="add-Bx">                                   
                                    <checkbox class="btn-default checkBxDflt" ng-hide="col.dataType === 'List'"  ng-model="newColumnObj.unique" style="border: 1px solid #DBDCDD;"></checkbox>
                                </div>         
                            </div>

                        </div> 
                        <!---->        
                      </div>
                      <div style="margin-top:8px;" data-ng-show="columnErrorForCreate">
                        <span style="color:red;font-size:13px; word-break:all;">{{columnErrorForCreate}}</span>
                      </div>  
                      <div class="cf" style="margin-top:8px;">
                        <div class="pull-left">
                          <button type="button" class="addColBtn cancelColBtn " style="color:black; background-color:white;border:1px solid #DBDCDD;" ng-click="cancelAddNewCol()">Cancel</button> 
                        </div>
                        <div class="pull-left" style="margin-left:6px;">
                          <button type="submit" style="background-color:{{currentProject.currentTable.tableColor || '#3A5795'}}; color:white; border:1px solid {{currentProject.currentTable.tableColor || '#3A5795'}}" class="addColBtn createColBtn" ng-disabled="columnErrorForCreate">Create</button>
                        </div>                    
                      </div>
                  </form>
                </div>  
                <!--/Add Column PopUp-->
              </th>
              <!--/Extra Add Column--> 

              <!--Dummy th for space-->  
              <th class="vacuumTh">
                <div class="vacuumThDiv">                 
                  <div class="flex-general-row-wrapper-center">
                     
                  </div>                                  
                </div>  
              </th>           
              </tr> 
              <!--Dummy th for space--> 
          </thead> 
          <tbody>

            <tr ng-repeat="eachRow in currentTableData">
              <!--default checkbox-->
              <td  class="fdataTd">
                  <div class="fTdDiv flex-general-row-wrapper-center">
                    <checkbox  class="btn-default checkBxDflt"  ng-model="rowsSelected[$index]"></checkbox>
                    <!--<span ng-show="!showSerialNo[$index]" class="sno">{{$index+1}}</span>-->
                  </div>              
              </td>  
              <!--/default checkbox-->

              <td class="dataTd" ng-repeat="column in currentProject.currentTable.columns">   
                
                <!--Id-->             
                <div ng-if="column.dataType==='Id'" class="tdDiv cf" style="min-width: 290px">         
                  <div class="real-content pull-left">
                    {{eachRow.get(column.name)}}                 
                  </div>            
                </div>
                <!--/Id-->               

                <!--isSearchable-->
                <div ng-if="column.dataType=='Boolean' && column.name=='isSearchable'"  class="tdDiv boolean-div cf" style="min-width: 150px">     
                  <div class="real-content-center flex-general-row-wrapper-center">  
                      <checkbox  class="btn-default checkBxDflt2 data-checkbx"  ng-model="eachRow.document._isSearchable" ng-click="setAndSaveBoolean(eachRow,column)">
                      </checkbox>                     
                  </div>                  
                </div>
                <!--/isSearchable-->

                <!--Boolean-->
                <div ng-if="column.dataType=='Boolean' && column.name!='isSearchable'"  class="tdDiv boolean-div cf" style="min-width: 150px">     
                  <div class="real-content-center flex-general-row-wrapper-center">  
                      <checkbox  class="btn-default checkBxDflt2 data-checkbx"  ng-model="eachRow.document[column.name]" ng-click="setAndSaveBoolean(eachRow,column)">
                      </checkbox>                     
                  </div>                  
                </div>
                <!--/Boolean-->

                <!--DateTime-->
                <div ng-if="column.dataType=='DateTime'" ng-dblclick="showDateTimeInput(eachRow,column)" class="tdDiv cf" style="min-width: 260px"> 

                  <div ng-show="!showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left"> 
                    <span class="timeSpan">                      
                      {{eachRow.get(column.name) | date:'medium'}}
                    </span>                                
                  </div>                  
                  <div ng-show="showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">          
                    <input kendo-date-time-picker  focus-on="{{column.id}}column" value="{{editableField[$parent.$parent.$index][column.name]}}" k-ng-model="editableField[$parent.$parent.$index][column.name]"  class="dateTimeInput"  ng-blur="setAndSave()"/>

                  </div>

                </div>
                <!--/DateTime-->

                <!--ACL-->
                <div ng-if="column.dataType=='ACL'" class="tdDiv cf" style="min-width: 260px"> 

                  <div class="real-content pull-left"> 
                    <div class="objectSpan">
                      {{eachRow.get(column.name) }} 
                    </div>                
                  </div>

                  <!--Popup Edit Button-->
                  <div class="modal-wrapper pull-right">
                      <a class="round-btn" ng-click="showJsonObject(eachRow,column)">
                        <i class="fa fa-expand" style="color:{{currentProject.currentTable.tableColor || '#3A5795'}};"></i>&nbsp;
                      </a>  
                  </div>
                  <!--/Popup Edit Button--> 

                </div>
                <!--/ACL-->

                <!--JsonObject-->
                <div ng-if="column.dataType=='Object'" class="tdDiv cf" style="min-width: 260px"> 

                  <div class="real-content pull-left"> 
                    <div class="objectSpan">
                      {{eachRow.get(column.name) }} 
                    </div>                
                  </div>

                  <!--Popup Edit Button-->
                  <div class="modal-wrapper pull-right">
                      <a class="round-btn" ng-click="showJsonObject(eachRow,column)">
                        <i class="fa fa-expand" style="color:{{currentProject.currentTable.tableColor || '#3A5795'}};"></i>&nbsp;
                      </a>  
                  </div>
                  <!--/Popup Edit Button--> 

                </div>
                <!--/JsonObject-->

                <!--Text-->
                <div ng-if="column.dataType=='Text'" ng-dblclick="showCommonTypes(eachRow,column)" class="tdDiv cf" style="min-width: 260px"> 

                  <div ng-show="!showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">              
                      {{eachRow.get(column.name) }}                                
                  </div>

                   <div ng-show="showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">                             
                    <input type="text"  focus-on="{{column.id}}column" ng-model="editableField[$parent.$parent.$index][column.name]"   class="commonInput"  ng-blur="setAndSave()" />               
                  </div>

                </div>
                <!--/Text-->

                <!--Email-->
                <div ng-if="column.dataType=='Email'" ng-dblclick="showCommonTypes(eachRow,column)" class="tdDiv cf" style="min-width: 260px"> 

                  <div ng-show="!showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left"> 
                    <a class="emailSpan" href="{{eachRow.get(column.name) }}" target="_blank">
                      {{eachRow.get(column.name) }}
                    </a>                
                  </div>

                  <div ng-show="showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">                             
                    <input type="email"  focus-on="{{column.id}}column" ng-model="editableField[$parent.$parent.$index][column.name]"   class="commonInput"  ng-blur="setAndSave()" />               
                  </div> 

                </div>
                <!--/Email-->

                <!--URL-->
                <div ng-if="column.dataType=='URL'" ng-dblclick="showCommonTypes(eachRow,column)" class="tdDiv cf" style="min-width: 260px"> 

                  <div ng-show="!showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left"> 
                    <a class="emailSpan" href="{{eachRow.get(column.name) }}" target="_blank">
                      {{eachRow.get(column.name)}}
                    </a>                
                  </div>

                   <div ng-show="showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">                             
                    <input type="url"  focus-on="{{column.id}}column" ng-model="editableField[$parent.$parent.$index][column.name]"   class="commonInput"  ng-blur="setAndSave()" />               
                  </div> 

                </div>
                <!--/URL-->

                <!--Number-->
                <div ng-if="column.dataType=='Number'" ng-dblclick="showCommonTypes(eachRow,column)" class="tdDiv cf" style="min-width: 260px"> 

                  <div ng-show="!showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">                    
                      {{eachRow.get(column.name)}}                                   
                  </div>

                   <div ng-show="showInputForEdit[$parent.$parent.$index][column.name]" class="real-content pull-left">                             
                    <input type="text"  focus-on="{{column.id}}column" ng-model="editableField[$parent.$parent.$index][column.name]"   class="commonInput"  ng-blur="setAndSave()" />               
                  </div> 

                </div>
                <!--/Number-->
               
                <!--File-->
                <div ng-if="column.dataType=='File'" class="tdDivFile cf" style="min-width: 190px"> 

                  <div class="real-content-file pull-left">
                    <div class="flex-general-row-wrapper-center"> 
                      <!--Image Files-->
                      <a ng-if="(eachRow.get(column.name).document.name | extension)=='jpeg' || (eachRow.get(column.name).document.name | extension)=='jpg' || (eachRow.get(column.name).document.name | extension)=='png' || (eachRow.get(column.name).document.name | extension)=='tif' || (eachRow.get(column.name).document.name | extension)=='gif'" ng-click="editFile(eachRow,column)">
                        <img  src="{{eachRow.document[column.name].document.url}}" class="fileT-thumb-width" alt="image" />
                      </a> 

                      <!--Other Files-->
                      <a  ng-if="(eachRow.get(column.name).document.name | extension) && ((eachRow.get(column.name).document.name | extension)!='jpeg' && (eachRow.get(column.name).document.name | extension)!='jpg' && (eachRow.get(column.name).document.name | extension)!='png' && (eachRow.get(column.name).document.name | extension)!='tif' && (eachRow.get(column.name).document.name | extension)!='gif')" ng-click="editFile(eachRow,column)">
                        <img src="assets/images/file2.png" class="fileT-thumb-width2" alt="image" />
                      </a>
                         
                      <!--Add File-->   
                      <a ng-if="!eachRow.get(column.name)" class="square-btn fileT-thumb-width3" ng-click="editFile(eachRow,column)">
                        <div  style="color:{{currentProject.currentTable.tableColor || '#3A5795'}};">+</div>&nbsp;
                      </a>
                                                             
                    </div>         
                  </div>               

                </div>
                <!--/File-->

                <!--Relation-->
                <div ng-if="column.dataType=='Relation'"  class="tdDiv cf" style="min-width: 240px"> 

                  <div class="real-content pull-left"> 
                    <div ng-click="viewRelationData(eachRow,column)" ng-if="eachRow.document[column.name]" class="relation-id-wrapper">
                      {{eachRow.get(column.name).document._id}}
                    </div>                                    
                  </div>

                  <!--Popup Edit Button-->
                  <div class="modal-wrapper pull-right">
                      <a class="round-btn">
                        <i class="fa fa-expand" style="color:{{currentProject.currentTable.tableColor || '#3A5795'}};"></i>&nbsp;
                      </a>  
                  </div>
                  <!--/Popup Edit Button--> 

                </div>
                <!--/Relation-->

                <!--Others-->
                <div ng-if="column.dataType!='Id' && column.dataType!='Boolean' && column.dataType!='DateTime' && column.dataType!='ACL' && column.dataType!='Text' && column.dataType!='Email' && column.dataType!='URL' && column.dataType!='Number' && column.dataType!='Object' && column.dataType!='File' && column.dataType!='Relation'" class="tdDiv cf" style="min-width: 210px"> 

                  <div class="real-content pull-left">  
                    {{eachRow.get(column.name)}} {{column.dataType}}                
                  </div>

                  <!--Popup Edit Button-->
                  <div class="modal-wrapper pull-right">
                      <a class="round-btn">
                        <i class="fa fa-expand" style="color:{{currentProject.currentTable.tableColor || '#3A5795'}};"></i>&nbsp;
                      </a>  
                  </div>
                  <!--/Popup Edit Button--> 

                </div>
                <!--/Others-->            

              </td>

             <!--Dummy tds for space-->
              <td class="" ng-class='{vacuumTd: !showNewColumnPreview}'>
              </td> 
              <td class="vacuumTd">
              </td>           
              <!--/Dummy tds for space-->
            </tr>

           <!--Extra Add row-->
            <tr>
              <td class="ldataTd addRowTd" ng-click="addRow()">
                  <div class="lTdDiv">
                      <div class="flex-general-row-wrapper-center">
                        <span>+</span>
                      </div>  
                  </div>              
              </td>
               <td  class="dataTd" ng-repeat="column in currentProject.currentTable.columns">
                <div class="tdDiv cf"> 
                </div>  
              </td>
              <td class="vacuumTd">
              </td> 
              <td class="vacuumTd">
              </td>
            </tr>
            <!--/Extra Add row-->

            <!--Dummy trs for space-->
            <tr class="vacuumTr">
              <td class="ldataTd">
                 <div class="lTdDiv">
                       
                  </div> 
              </td>

              <td class="dataTd" ng-repeat="column in currentProject.currentTable.columns">
                <div class="tdDiv cf"> 
                </div>  
              </td>
              <td>
              </td>
              <td>
              </td>  
            </tr>


            <tr class="vacuumTr">
              <td class="ldataTd">
                 <div class="lTdDiv">
                       
                  </div> 
              </td>

              <td class="dataTd" ng-repeat="column in currentProject.currentTable.columns">
                <div class="tdDiv cf"> 
                </div>  
              </td> 
              <td>
              </td> 
              <td>
              </td>
            </tr>

            <tr class="vacuumTr">
              <td class="ldataTd">
                 <div class="lTdDiv">
                       
                  </div> 
              </td>

              <td class="dataTd" ng-repeat="column in currentProject.currentTable.columns">
                <div class="tdDiv cf"> 
                </div>  
              </td>
              <td>
              </td>
              <td>
              </td>  
            </tr>

            <tr class="vacuumTr">
              <td class="ldataTd">
                 <div class="lTdDiv">
                       
                  </div> 
              </td>

              <td class="dataTd" ng-repeat="column in currentProject.currentTable.columns">
                <div class="tdDiv cf"> 
                </div>  
              </td>
              <td>
              </td>
              <td>
              </td>  
            </tr>
            <!--/Dummy trs for space-->

          </tbody>

         </table>       
         
        </div>  
     </div> 
  </div>  
  <!--/Table-->

  <!--While Loading-->
  <div ng-show="!isTableLoaded" class="wyl-table-loading">
    <div id="table-spinner" class="flex-general-column-wrapper-center">
      <div>
      <i class="fa fa-spinner fa-spin fa-3x"></i> 
      </div>
      
      <div>
        <span>Loading</span>
      </div> 

    </div>
  </div>  
  <!--/While Loading-->

</div>



<!-- EditJSON Modal -->
  <div class="modal fade colored-header danger" id="md-objectviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="pull-right modalX">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>  
        <div class="flex-general-row-wrapper-center modalH">
          <h3>Object Viewer</h3>        
        </div>      
        <div class="modal-body">

          <pre pretty-json="editableJsonObj" edition="true" style="min-height:220px">
          </pre>       

          <div class="flex-general-row-wrapper-center modalF">        
            <button type="button" ng-click="setAndSaveJsonObject()" class="btn btn-primary btn-flat" style="width:400px;">Save</button>
          </div> 

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- EditJSON Modal -->

<!-- EditFile Modal -->
  <div class="modal fade colored-header danger" id="md-fileviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="pull-right modalX">
          <button type="button" class="close" ng-click="removeSelectdFile()" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>  
        <div class="flex-general-row-wrapper-center modalH">
          <h3>Files</h3>        
        </div>      
        <div class="modal-body">

          <div class="flex-general-row-wrapper-center">
              <!--Add file-->
              <div ng-if="!editableFile && !selectedFile">
                <div class="modal-add-file">
                  <input filechange type="file" id="notification-file" class="form-control">
                </div>                
              </div>

            <div  ng-if="selectedFile && selectedFileExtension">  
              <!--View File for Images-->
              <div ng-if="selectedFile  && (selectedFileExtension=='jpeg' || selectedFileExtension=='jpg' || selectedFileExtension=='png' || selectedFileExtension=='tif' || selectedFileExtension=='gif')" class="modal-view-file flex-general-column-wrapper-center">  

                <!--Image-->
                <div class="">
                  <a class="modal-anchor">
                    <img src="{{selectedFile}}">                  
                  </a>                  
                </div>

                <div class="flex-general-row-wrapper-center">
                  <span style="margin-top:12px;">{{selectedfileName}}</span> 
                </div>

                <!--Image Edit tools--> 
                <div class="moda-img-tools2 flex-general-row-wrapper-center">
                  <div class="modal-img-option2">
                    <a ng-click="setAndSaveFile()">
                     <i class="fa fa-floppy-o"></i>
                    </a>
                  </div>
                  <div class="modal-img-option2" style="margin-left:5px;">
                    <a ng-click="removeSelectdFile()">
                    <i class="fa fa-times-circle-o"  style="color:red"></i>
                    </a>
                  </div>                  
                </div>

              </div> 

              <!--View File for Other Files-->
              <div ng-if="selectedFile  && (selectedFileExtension!='jpeg' && selectedFileExtension!='jpg' && selectedFileExtension!='png' && selectedFileExtension!='tif' && selectedFileExtension!='gif')" class="modal-view-other-file flex-general-column-wrapper-center">

                  <!--Image-->
                  <div>
                    <a class="modal-anchor flex-general-row-wrapper-center">
                      <img src="assets/images/file2.png">                  
                    </a>                  
                  </div> 

                  <div class="flex-general-row-wrapper-center">
                    <span style="margin-top:12px;">{{selectedfileName}}</span> 
                  </div>

                  <!--Image Edit tools--> 
                  <div class="moda-img-tools2 flex-general-row-wrapper-center">
                    <div class="modal-img-option2">
                      <a ng-click="setAndSaveFile()">
                       <i class="fa fa-floppy-o"></i>
                      </a>
                    </div>
                    <div class="modal-img-option2" style="margin-left:5px;">
                      <a ng-click="removeSelectdFile()">
                        <i class="fa fa-times-circle-o"  style="color:red"></i>
                      </a>
                    </div>                  
                  </div>

                </div>
              
            </div>

            <div  ng-if="!selectedFile">  
              <!--View File for Images-->
              <div ng-if="editableFile && editableFile.document.url && ((editableFile.document.name | extension)=='jpeg' || (editableFile.document.name | extension)=='jpg' || (editableFile.document.name | extension)=='png' || (editableFile.document.name | extension)=='tif' || (editableFile.document.name | extension)=='gif')" class="modal-view-file">

                <!--Image-->
                <div>
                  <a class="modal-anchor flex-general-row-wrapper-center">
                    <img src="{{editableFile.document.url}}">                  
                  </a>                  
                </div>
                <div class="flex-general-row-wrapper-center">
                  <span style="margin-top:14px;">{{editableFile.document.name}}</span> 
                </div>               

                <!--Image Edit tools--> 
                <div class="moda-img-tools2 flex-general-row-wrapper-center">
                  <div class="modal-img-option2">
                    <a href="{{editableFile.document.url}}" target="_blank">
                     <i class="fa fa-download"></i>
                    </a>
                  </div>
                  <div class="modal-img-option2" style="margin-left:5px;">
                    <a ng-click="deleteFile()">
                    <i class="fa fa-trash-o"></i>
                    </a>
                  </div>                  
                </div>

              </div> 

               <!--View File for Other Files-->
              <div ng-if="editableFile && editableFile.document.url && ((editableFile.document.name | extension)!='jpeg' && (editableFile.document.name | extension)!='jpg' && (editableFile.document.name | extension)!='png' && (editableFile.document.name | extension)!='tif' && (editableFile.document.name | extension)!='gif')" class="modal-view-other-file">

                  <!--Image-->
                  <div>
                    <a class="modal-anchor flex-general-row-wrapper-center">
                      <img src="assets/images/file2.png">                  
                    </a>                  
                  </div> 

                  <div class="flex-general-row-wrapper-center">
                    <span style="margin-top:14px;">{{editableFile.document.name}}</span>  
                  </div>                             

                  <!--Image Edit tools--> 
                  <div class="moda-img-tools2 flex-general-row-wrapper-center">
                    <div class="modal-img-option2">
                      <a href="{{editableFile.document.url}}" target="_blank">
                       <i class="fa fa-download"></i>
                      </a>
                    </div>
                    <div class="modal-img-option2" style="margin-left:5px;">
                      <a ng-click="deleteFile()">
                      <i class="fa fa-trash-o"></i>
                      </a>
                    </div>                  
                  </div>

                </div>  
            </div>     

          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- EditFile Modal -->

<!-- Relation Modal -->
  <div class="modal fade colored-header danger" id="md-relationviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="pull-right modalX">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>  
        <div class="flex-general-row-wrapper-center modalH">
          <h3>Relation Viewer</h3>        
        </div>      
        <div class="modal-body"> 
          <!--Modal table header-->
          <div class="row">
            <div class="col-md-12">
              <div class="m-table-header" style="background-color:{{relatedTableDef.tableColor || '#3A5795'}};">
                 <div class="pull-left">
                  <h4>
                    {{relatedTableDef.name}}
                  </h4>
                 </div> 

                 <div class="pull-right m-table-ctrls">
                  <i class="fa fa-floppy-o fa-lg"></i>
                 </div>        

              </div>  
            </div>  
          </div>  
          <!--/Modal table header-->

          <!--Modal Related Table Form-->
          <div class="relation-data-wrapper" style="margin-top:3px;">
            <div id="relationTable" malihuscrollbar-for-popup>          
              
              <div class="modal-rel-form flex-general-column-wrapper">
                <div class="m-key-value" ng-repeat="relCol in relatedTableDef.columns">
                  <!--Column Name-->
                  <div class="m-key cf">
                    
                    <div class="pull-left m-col-icon">
                      <i class="fa fa-link"></i>
                    </div>
                    <div class="pull-left m-col-name">
                      {{relCol.name}}
                    </div> 

                  </div>
               

                  <!--Id-->
                  <div ng-if="relCol.dataType=='Id'" class="m-value">
                      <div class="m-data-container cf" style="height:37px;">

                        <div class="m-real-content pull-left">                          
                        {{relatedTableRecord.get(relCol.name)}}                                        
                        </div>                      

                      </div>
                  </div>

                  <!--isSearchable-->
                  <div ng-if="relCol.dataType=='Boolean' && relCol.name=='isSearchable'" class="m-value">
                      <div class="m-data-container-chk cf" style="height:37px;">

                        <div class="m-real-content-chk pull-left">
                          <checkbox  class="btn-default checkBxDflt data-checkbx"  ng-model="relatedTableRecord.document._isSearchable" ng-click="setAndSaveBoolean(relatedTableRecord,relCol)" style="margin-left:14px;">
                          </checkbox>
                        </div>                       

                      </div>
                  </div>

                  <!--Boolean-->
                  <div ng-if="relCol.dataType=='Boolean' && relCol.name!='isSearchable'" class="m-value">
                      <div class="m-data-container-chk cf" style="height:10px !important;">

                        <div class="m-real-content-chk pull-left">
                          <checkbox  class="btn-default checkBxDflt data-checkbx"  ng-model="relatedTableRecord.document[relCol.name]" ng-click="setAndSaveBoolean(relatedTableRecord,relCol)" style="margin-left:14px;">
                          </checkbox>
                        </div>                       

                      </div>
                  </div>

                  <!--DateTime-->
                  <div ng-if="relCol.dataType=='DateTime'" class="m-value">
                      <div class="m-data-container-datetime cf" style="height:30px;">

                        <div class="m-real-content-datetime pull-left">
                          <input kendo-date-time-picker  value="" k-ng-model=""  class="dateTimeInput"/>
                        </div>                       

                      </div>
                  </div>

                  <!--Others-->
                  <div ng-if="relCol.dataType!='Id' && relCol.dataType!='Boolean' && relCol.dataType!='DateTime' && relCol.dataType!='File' && relCol.dataType!='DateTime'" class="m-value">
                      <div class="m-data-container cf" style="height:37px;">

                        <div class="m-real-content pull-left">
                          {{relatedTableRecord.get(relCol.name)}}
                        </div>
                        <div class="m-popup-btn pull-right">
                          <a class="m-round-btn">
                            <i class="fa fa-expand" style="color:{{relatedTableDef.tableColor || '#3A5795'}};"></i>&nbsp;
                          </a>
                        </div>

                      </div>
                  </div>
                   
                <div>  
              </div>  

            </div>  
          <div>
          <!--/Modal Related Table Form-->

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- Relation Modal -->
