<div class="cl-mcont" ng-init="init()">

    <div class="row">
      <!--No spending Limit-->		
      <div class="col-md-5" ng-show="tempSpendingLimit==0">
      	<div class="billing-Bx">
      	<p class="billing-amt">${{invoice.currentInvoice}}<span class="currency-txt">&nbsp;USD</span></p>
      	<p class="billing-txt1">YOUR CURRENT BILL</p>     	
      	
        </div> 
      </div>
      <!--/No spending Limit-->

      <!--if spending Limit-->		
      <div id="doughnut-wrapper" class="col-md-5" ng-show="tempSpendingLimit>0">
      	<div class="donut-circle-Bx cf">
      	   <div id="credit-circleid" class="pull-left credit-circle">
            <canvas  id="doughnut" class="chart chart-doughnut" data="data" width="685" height="800" labels="labels" colours="colours"></canvas>    

      	   </div>
      	   <div class="pull-left credit-info cf">
      	   		<div class="credit-left-bx cf">
      	   			<div class="pull-left color-indication">
      	   			</div>
      	   			<div class="pull-left credit-left">
      	   				<span class="credit-left-txt">CREDIT LEFT</span>
      	   				<p class="credit-left-amt">${{creditLeft}}<span>USD</span></p>
      	   			</div>	
      	   		</div>      	   				
      	   </div>      	
        </div> 
      </div>
      <!--/if spending Limit-->


      <div class="col-md-4">
      	<div class="billing-Bx">
	      	<p class="billing-amt">{{nextBillingCycle}} Days</p>   	
	      	<p class="billing-txt2">NEXT BILLING CYCLE</p>
        </div> 
      </div>

      <div class="col-md-3">     		
  			<div class="auto-scale-bx">		        	
	        	<p class="billing-autoscale">Auto Scale</p>
	        	<div style="width:50%; margin:0 auto;">
	        	 	<switch  id="enabled" name="enabled" ng-disabled="!autoScale" ng-model="autoScale" 
              ng-change="toggleAutoScale(autoScale)" class="blue auto-scale-switch"></switch>
	        	</div> 
	       	</div>      	
  			<div class="btn-Bx" style="margin-top:8px;">

	        	<button type="button" class="btn btn-primary" ng-click="spendingLimitModal()"><i class="fa fa-arrow-circle-right pull-right" style="font-size:22px;"></i>{{spendingLimitBtn}}</button>

	        	<button type="button" class="btn btn-prusia" ng-click="creditCardModal()"><i class="fa fa-arrow-circle-right pull-right" style="font-size:22px;"></i>{{cardAddEditBtn}}</button>        	
	       	</div>                    
      </div>

    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="billing-details-Bx">
    				<p class="billing-det-head">Your usage details</p>
    				<!--bill-category-->
    				<div class="bill-category-bx cf" ng-repeat="eachInvoiceDet in invoice.invoiceDetails">
    					<b><h3 class="bill-category-name">{{eachInvoiceDet.category | uppercase}}</h3></b>
              <!--usage metrics-->
    					<div class="bill-usage-bx cf" ng-repeat="eachUsageMetric in eachInvoiceDet.usageMetrics">
    						
                  <div class="bill-usage-bar cf">
      							<div class="bar">
      								<p class="usage">{{eachUsageMetric.usage}}</p>
      							</div>
      							<div class="bar">
      								<p class="price">${{eachUsageMetric.charged}}</p>
      							</div>	
                  </div>
    						 
                <div  class="bill-usage-txt">
                <span>{{eachUsageMetric.description}}</span>
                </div>   							
    					</div>
              
              <!--/usage metrics-->
    				</div>
            
    				<!--/bill-category-->
    					
    		</div>	
    	</div>		
   	</div> 	
     
</div>


<!-- Card Modal -->
<div class="modal fade colored-header" id="credit-card" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-width">
    <div class="modal-content">

    <form role="form" name="cardForm" ng-submit="addOrEditCreditCard(cardForm.$valid)"> 
      <div class="modal-header">
        <h3>Add Credit Card </h3>
        <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body form">
        <div class="form-group">
          <label>Full Name on Card</label> 
          <input type="text" ng-model="creditcardInfo.name" class="form-control" placeholder="John Smith" required>
        </div>
        <div class="form-group">
          <label>Card Number</label> 
          <input type="name" ng-model="creditcardInfo.number" maxlength="16" minlength="16" class="form-control" placeholder="Card Number" required>
        </div>
        <div class="row">
          <div class="form-group col-md-3 no-margin">
            <label>Exp.Month</label>
          </div>
           <div class="form-group col-md-3 no-margin">
            <label>Exp.Year</label>
          </div>
           <div class="form-group col-md-3 no-margin">
            <label>Security Code</label>
          </div>
        </div>
        <div class="row no-margin-y">
          <div class="form-group col-md-3 col-sm-3  col-xs-3 no-margin">
            <input type="name" ng-model="creditcardInfo.exp_month" class="form-control" placeholder="MM" maxlength="2" minlength="1" required>
          </div>
          <div class="form-group col-md-3 col-sm-3  col-xs-3 no-margin">
            <input type="name" ng-model="creditcardInfo.exp_year" class="form-control" placeholder="YYYY" maxlength="4" minlength="4" required>
          </div>
          <div class="form-group col-md-3 col-sm-3  col-xs-3 no-margin">
            <input type="password" ng-model="creditcardInfo.cvc" class="form-control" placeholder="CVC" maxlength="3" minlength="3" required>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>Address Line1</label> 
	          <input type="text" ng-model="creditcardInfo.address_line1" class="form-control" placeholder="Address Line1" required>
	        </div>
          </div>
           <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>Address Line2</label> 
	          <input type="text" ng-model="creditcardInfo.address_line2" class="form-control" placeholder="Address Line2" required>
	        </div>
          </div>          
        </div>
        <div class="row">
          <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>City</label> 
	          <input type="text" ng-model="creditcardInfo.address_city" class="form-control" placeholder="City" required>
	        </div>	        
          </div>
           <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>State</label> 
	          <input type="text" ng-model="creditcardInfo.address_state" class="form-control" placeholder="State" required>
	        </div>
          </div>          
        </div>
        <div class="row">
          <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>Country</label> 
	          <input type="text" ng-model="creditcardInfo.address_country" class="form-control" placeholder="Country" required>
	        </div>	        
          </div>

           <div class="form-group col-md-6 no-margin">
            <div class="form-group">
	          <label>Zip</label> 
	          <input type="text" ng-model="creditcardInfo.address_zip" class="form-control" placeholder="Zip" required>
	        </div>
          </div>          
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Cancel</button>
       	
       	<!--before validation-->
        <button type="submit" ng-show="!validCardShowSpinner" class="btn btn-primary btn-flat md-close">{{cardAddEditText}}</button>

        <!--validating-->
        <button type="button" ng-show="validCardShowSpinner" class="btn btn-primary btn-flat md-close"><i class="fa fa-spinner fa-spin"></i>Validating and Processing..</button>

      </div>

      </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

   

<!-- Spending Limit Modal -->
<div class="modal fade colored-header" id="spending-limit" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-width">
    <div class="modal-content">

    <form role="form" name="spendingLimitForm" ng-submit="addOrRemoveSpendingLimit(spendingLimitForm.$valid)"> 
      <div class="modal-header">
        <h3>Spending Limit</h3>
        <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body form">
        <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">$</span>
          <input ng-model="invoiceSettings.spendingLimit" type="text" class="form-control" placeholder="Spending Limit" required>
        </div>
          
          <a ng-show="!showSpendingMore" style="cursor:pointer" data-ng-click="showSpendingMore = true"> What's this? </a>
          <br/>
          <label style="#808080" ng-show="showSpendingMore">Spending limit is the hard cap on your card every single month. API will not respond to your app requests after your hit the spending limit. We do email you after you reach 90% of your spending limit. So, you have enough time to edit or remove it. </label> 
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancelSpendingLimitModal()" class="btn btn-default btn-flat md-close" data-dismiss="modal">Cancel</button>
        
        <!--before validation-->
        <button type="submit" ng-show="!spendingLimitSpinner" class="btn btn-primary btn-flat md-close">Add Limit</button> 

        <!--before validation-->
        <button ng-click="removeSpendingLimit()" ng-if="tempSpendingLimit>0" ng-show="!spendingLimitSpinner" class="btn btn-primary btn-flat md-close">Remove Limit</button>       

        <!--validating-->
        <button type="button" ng-show="spendingLimitSpinner" class="btn btn-primary btn-flat md-close"><i class="fa fa-spinner fa-spin"></i>Saving...</button>

      </div>

      </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->   

<!--delete app modal-->
  <div class="modal fade colored-header danger" id="remove-spendinglimit-alert" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h3>Spending Limit Alert</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="i-circle danger"><i class="fa fa-times"></i></div>         
          <p>Do you want to Remove Spending Limit??</p>                  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger btn-flat" ng-click="spendingLimitModal()">Yes</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  
