  
<div class="cl-mcont profile-page" ng-init="init()">
  <div class="row">

    <div class="col-sm-12 col-md-2 col-lg-2">
    </div>
      
    <div class="col-sm-12 col-md-8 col-lg-8" style="">

      <div class="flex-general-row-wrapper" style="width:90%;">         

          
        <div style="background-color:white;white;width:100%;height:auto;border:1px solid #DBD9D9;border-radius:20px;">


          <div class="profile-tabs" style="height:100%;">

           
              <!-- Nav tabs -->
              <div class="ul-wrapper flex-general-column-wrapper-center">
                
                <ul class="nav nav-tabs profile-tab-links" role="tablist">

                  <li  ng-class="{profileActive:profileTabs.profile}">
                    <a  class="nav-profile-tabs" role="tab" data-toggle="tab" ng-class="{profileActiveAnchor:profileTabs.profile}" ng-click="toggleTabs('profile')">
                      <i class="fa fa-user"></i>&nbsp;PROFILE</a>
                  </li>

                  <!--<li ng-class="{profileActive:profileTabs.billing}">
                    <a class="nav-profile-tabs" role="tab" data-toggle="tab" ng-class="{profileActiveAnchor:profileTabs.billing}" ng-click="toggleTabs('billing')">
                      <i class="fa fa-credit-card"></i>&nbsp;BILLING DETAILS</a>
                  </li>-->  

                </ul>
                
              </div>
           

            <!-- Tab panes -->
            <div class="tab-content"  style="height:auto; padding:0 !important;border:none;">
              <div role="tabpanel" class="tab-pane" ng-class="{active:profileTabs.profile}" class="profile-tab" style="height:80vh !important;padding-top:25px;padding-left:20px;padding-right:20px;padding-bottom:20px;">

                <div ng-show="!loadingProfile" class="cf" style="width:100%;">
                  <!--Block1-->
                  <div  class="flex-general-row-wrapper pull-left" style="width:23.99%;height:auto;">
                    <!--Profile Pic-->
                    <div class="flex-general-column-wrapper-center" style="width:100%;margin-left:10px;"> 

                      <!--Default Pic-->
                      <div ng-show="!file" class="profile-pic-wrap" style="position:relative;"> 
                        <div class="flex-general-column-wrapper-center">           
                          <img src="assets/images/anonymous.jpg" class="profile-photo" style="width:150px;height:150px;"> 
                        </div>                 
                         
                        <!--Edit Setting--> 
                        <div ng-show="!savePicSpinner" class="profile-pic-editsettings flex-general-column-wrapper-center" style="position:absolute;"> 
                          <div class="flex-general-column-wrapper-center" style="width:35px;height:35px;background-color:#111111;border-radius:25px;opacity:0.8;">
                            <i class="icon ion-edit" style="color:white;font-size:18px;" ng-click="openFileModal()"></i>
                          </div>           
                        </div>

                        <!--Spinner--> 
                        <div ng-show="savePicSpinner" class="profile-pic-spinner flex-general-column-wrapper-center" style="position:absolute;"> 
                          <div class="flex-general-column-wrapper-center" style="width:35px;height:35px;border-radius:25px;opacity:0.8; background-color: #e3e3e3;">                            
                            <i class="fa fa-spinner fa-spin" style="color:black;font-size:22px;"></i>
                          </div>           
                        </div>

                      </div> 
                      <!--/Default Pic--> 


                      <!--Pic-->
                      <div ng-show="file" class="profile-pic-wrap" style="position:relative;"> 
                        <div class="flex-general-column-wrapper-center">           
                          <img src="{{file.document.url}}" class="profile-photo"> 
                        </div> 

                        <!--Edit Setting-->
                        <div ng-show="!savePicSpinner" class="profile-pic-editsettings flex-general-column-wrapper-center" style="position:absolute;"> 
                          <div class="flex-general-column-wrapper-center" style="width:35px;height:35px;background-color:#111111;border-radius:25px;opacity:0.8;">
                            <i class="icon ion-edit" style="color:white;font-size:18px;" ng-click="openFileModal()"></i>
                          </div>           
                        </div>

                         <!--Spinner--> 
                        <div ng-show="savePicSpinner" class="profile-pic-spinner flex-general-column-wrapper-center" style="position:absolute;"> 
                          <div class="flex-general-column-wrapper-center" style="width:35px;height:35px;border-radius:25px;opacity:0.8;background-color: #e3e3e3;">                            
                            <i class="fa fa-spinner fa-spin" style="color:black;font-size:22px;"></i>
                          </div>           
                        </div>
                         
                      </div> 
                      <!--/Pic-->

                    </div>
                    <!--/Profile Pic-->            

                  </div>
                  <!--Block1-->                

                  <!--Block2-->
                  <div class="flex-general-column-wrapper-center pull-left" style="margin-top:1%;margin-left:3%;">           
                    <div class="check">

                      <div class="profile-value" style="position:relative;margin-top:12px;">
                        <span style="color:#B2B0B0;font-size:12px;font-weight:600;">
                          NAME
                        </span><br/>

                        <span class="" style="color:black;font-size:30px;color:gray;cursor:pointer;font-weight:500;" ng-click="initEditProfile('Change Name')">
                          {{user.name}}
                        </span>

                        <span style="position:absolute;bottom:4px;margin-left:4px;">
                          <span class="flex-general-column-wrapper-center profile-edit-pencil" style="height:20px;width:20px;border-radius:25px;background-color:gray;" ng-click="initEditProfile('Change Name')">
                            <i class="fa fa-pencil" style="color:white;"></i>
                          </span>  
                        </span>
                          
                      </div>                     


                      <div class="" style="position:relative;margin-top:1%;">
                        <span style="color:#B2B0B0;font-size:12px;font-weight:600;">
                          EMAIL
                        </span><br/>

                        <span style="color:black;font-size:22px;color:gray;font-weight:500;">
                           {{user.email}}
                        </span>

                        <span>
                        </span>
                          
                      </div>

                     
                    </div>  
                  </div>  
                  <!--/Block2-->
                </div>

                <!--/Spinner-->
                <div ng-show="loadingProfile" style="height:151px;width:100%;" class="flex-general-column-wrapper-center">
                  <div>
                    <i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>
                  </div>  
                </div> 
                <!--/Spinner--> 

                <div style="width:100%;margin-top:35px;margin-bottom:5px;border-bottom:1px solid #F0F0F0;">
                </div> 

                <!--Block3-->
                <div class="change-password-block"> 

                  <div style="width:100%;">
                    <p style="font-size:20px;font-weight:500;margin-left:2%;">Change Password</p>
                  </div>                 

                  <div style="width:100%;margin-top:5%;"> 
                    <!--Edit Box-->
                    <div class="pull-left" style="width:80%;">
                      <div class="flex-general-row-wrapper" style="width:100%;">
                        <div class="" style="width:33%;height:29px;">
                          <p class="pull-right" style="font-size:14px;">Old Password</p>              
                        </div> 

                        <div class="" style="width:50%;margin-left:10px;">           
                          <div class="" style="width:100%;height:29px;border:1px solid #ADABAB;">
                            <input type="password" ng-model="editUser.oldPassword" class="defaultInput-txt" style="width:100%;height:100%;">
                          </div>
                        </div>
                      </div> 
                    </div>
                    <!--/Edit Box-->

                    <!--Edit Box-->
                    <div class="pull-left" style="width:80%;margin-top:20px;">
                      <div class="flex-general-row-wrapper" style="width:100%;">
                        <div class="" style="width:33%;height:29px;">
                          <p class="pull-right" style="font-size:14px;">New Password</p>              
                        </div> 

                        <div class="" style="width:50%;margin-left:10px;">           
                          <div class="" style="width:100%;height:29px;border:1px solid #ADABAB;">
                            <input type="password" ng-model="editUser.newPassword" class="defaultInput-txt" style="width:100%;height:100%;">
                          </div>
                        </div>
                      </div> 
                    </div>
                    <!--/Edit Box-->

                    <!--Edit Box-->
                    <div class="pull-left" style="width:80%;margin-top:5px;">
                      <div class="flex-general-row-wrapper" style="width:100%;">
                        <div class="" style="width:33%;height:29px;">
                          <p class="pull-right" style="font-size:14px;">Confirm New Password</p>              
                        </div> 

                        <div class="" style="width:50%;margin-left:10px;">           
                          <div class="" style="width:100%;height:29px;border:1px solid #ADABAB;">
                            <input type="password" ng-model="editUser.newConfirmPassword" class="defaultInput-txt" style="width:100%;height:100%;">
                          </div>
                        </div>
                      </div> 
                    </div>
                    <!--/Edit Box--> 

                    <!--Button Box-->
                    <div class="pull-left" style="width:80%;margin-top:9px;">
                      <div class="flex-general-row-wrapper" style="width:100%;">
                        <div class="" style="width:33%;height:29px;">
                                   
                        </div> 

                        <div class="" style="width:50%;margin-left:10px;">           
                          <div class="pull-right">
                            <!--Change-->
                            <button class="btn btn-primary" ng-show="!modifySpinner || (modifySpinner && editType=='Change Name')" ng-click="updateUserInfo('Change Password')" style="width:120px; border-radius:3px !important;">Change</button>
                            <!--While Changing-->
                            <button type="button" ng-show="modifySpinner && editType=='Change Password'" class="btn btn-primary" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Modifying..</button> 
                          </div>
                        </div>
                      </div> 
                    </div>
                    <!--/Button Box-->                    
                  </div> 

                </div> 

              </div>

              <div role="tabpanel" class="tab-pane">   
                <!--New Tab Content goes here-->                          
              </div>  

            </div>

          </div> 
          <!--Tabs-->        

        </div>
      </div>  
           
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2">

    </div>

  </div>    
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
        <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->

<!--File Directive -->
<div class="modal fade colored-header danger" id="md-fileviewer" tabindex="-1" role="dialog">
  <dashboard-file filetype="fileAllowedTypes" edit="editableFile" delete="deleteFile()" save="saveFile(fileObj)"></dashboard-file>
</div> 
<!--/File Directive --> 


<!--Change ProfileInfo-->
<div class="modal fade colored-header primary" id="md-changeprofile" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      <div style="height:55px; width:100%;padding:13px;">
        <div class="pull-left" style="padding-left:8px;">
          <span style="font-size:18px;">Change Name</span>
        </div>          
      </div>

      <!--Saving Errors--> 
      <div style="width:100%;">
        <div  ng-show="modifyModalError" style="width:100%;height:30px;background-color:#C40101;color:white;padding-left:5px;padding-right:5px;padding-top:3.5px;" ng-class="{animated:modifyModalError}" class="fadeIn">

          <div class="pull-left" style="padding-top:1px;">                
            <span>{{modifyModalError}}</span>
          </div>

          <div class="pull-right" ng-click="modifyModalError=!modifyModalError">
            <i class="icon ion-android-close" style="font-size:16px;color:white;"></i>
          </div>  

        </div>  
      </div>  
      <!--/Saving Errors-->
      
      <div class="modal-body" style="border-top:1px solid #dddbdb;">
        <div class="flex-general-column-wrapper-center" style="width:100%;">
          
          <!--Change Name-->
          <div class="flex-general-row-wrapper" style="width:88%;">
            <div class="" style="width:35%;height:29px;">
              <p class="pull-right" style="font-size:14px;">New Name</p>              
            </div> 

            <div class="" style="width:55%;margin-left:10px;">           
              <div class="" style="width:100%;height:29px;border:1px solid #ADABAB;">
                <input type="text" ng-model="editUser.name" class="defaultInput-txt" style="width:100%;height:100%;">
              </div>
            </div>
          </div>                  

        </div>  
      </div>  

      <div class="modal-footer">        
        <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>        

        <!--Disabled-->
        <button type="button" ng-show="modifyModalError && !modifySpinner" style="color:gray;cursor:pointer !important; width:124px;" class="btn">Change</button>

        <!--Change-->
        <button type="button" ng-show="!modifySpinner && !modifyModalError" ng-click="updateUserInfo('Change Name')" class="btn btn-primary" style="width:120px; border-radius:3px !important;">Change</button>  

        <!--While Changing-->
        <button type="button" ng-show="modifySpinner" class="btn btn-primary" style="width:142px; border-radius:3px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Modifying..</button>  
 
      </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->   
<!--/Change Password-->



  
