  
<div class="cl-mcont profile-page" ng-init="init()"  style="background-color:white;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      
      <div class="flex-general-row-wrapper">

        <!--Profile Pic-->
        <div class=""> 
          <!--Default Pic-->
          <div class="profile-pic-wrap" style="height:auto;position:relative;"> 
            <div class="flex-general-column-wrapper-center" style="height:auto;width:120px;">           
              <img src="assets/images/anonymous.jpg" class="profile-photo"> 
            </div> 

            <!--Edit Setting-->
            <div class="profile-pic-editsettings" style="position:absolute;bottom:4px;right:4px;">
              <div class="flex-general-column-wrapper-center" style="width:25px;height:25px;background-color:black;opacity:0.6;border-radius:25px;">
                <i class="icon ion-edit" style="color:white;font-size:14px;" ng-click="openFileModal()"></i>
              </div>  
            </div> 
             
          </div> 
          <!--/Default Pic-->         
        </div>

        <!--Personal Info-->
        <div class="flex-general-row-wrapper" style="margin-left:17px;">  

            <!--Key-->
            <div>

              <div class="cf" style="width:70px;height:24px;">
                <div class="pull-right">
                  <span style="font-size:14px; font-weight:700;">Name:</span>
                </div>  
              </div>

              <div class="cf" style="width:70px;height:24px;">
                <div class="pull-right">
                  <span style="font-size:14px; font-weight:700;">Email:</span>
                </div>  
              </div>
             

              <div class="cf" style="width:70px;height:24px;">
                <div class="pull-right">
                  <span style="font-size:14px; font-weight:700;">Password:</span>
                </div>  
              </div> 

            </div>

            <!--Value-->
            <div style="margin-left:4px;">

              <div class="cf" style="height:24px;">
                <div class="pull-left">
                  <span style="font-size:14px;">Nawaz Dhandala</span>
                </div>  
              </div>

              <div class="cf" style="height:24px;">
                <div class="pull-left">
                  <span style="font-size:14px;">hello@cloudbost.io</span>
                </div>  
              </div>
             

              <div class="cf" style="height:24px;">
                <div class="pull-left">
                  <span style="font-size:14px;">******</span>
                </div>  
              </div> 

            </div>    
        </div>

      </div>             

    </div>
  </div>    
</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
        <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->

<!--File Directive -->
<div class="modal fade colored-header danger" id="md-fileviewer" tabindex="-1" role="dialog">
  <cb-file edit="editableFile" delete="deleteFile()" save="setAndSaveFile(fileObj)"></cb-file>
</div> 
<!--/File Directive --> 



  
