
<div class="push-browser-parent" ng-init="init()">

  <div class="flex-general-column-wrapper-center" style="width: 100%; height: 100%;">
    <div style="width: 100%;" class="solo-horizontal-center">
      <span style="color:#169CEE;font-size: 24px;font-weight: 700;">Send Push Notifications</span>
    </div>
    <div style="width: 100%;" class="solo-horizontal-center">
      <span style="color:#4F4F4F;font-size: 14px;">The best campaigns use short and direct messaging.</span>
    </div>

    <div class="push-box" style="margin-top: 15px;">

      <!--Each Field-->
      <div style="width: 100%;height: 100px;background-color: #F7F7F7;border:1px solid #C4C2C2;">
        
        <div style="width: 100%;height: 100%;" class="flex-general-row-wrapper">

          <div style="width: 40%;height: 100%;padding: 35px;">
            <span style="color:#353446;font-size: 16px;font-weight: 700;">Title</span>
          </div>

          <div class="solo-vertical-center" style="width: 60%;height: 100%;background-color: white;padding: 35px;">
            <input ng-model="pushData.title" type="text" class="default-inputfield" placeholder="Your push title.." style="width: 100%; height: 40px;font-size: 16px;padding-left: 4px;">
          </div>

        </div>

      </div>  
      <!--/Each Field-->

      <!--Each Field-->
      <div style="width: 100%;height: 100px; border-color:#C4C2C2;background-color: #F7F7F7; border-style: solid; border-width:0 1px 1px 1px;">
        
        <div style="width: 100%;height: 100%;" class="flex-general-row-wrapper">

          <div style="width: 40%;height: 100%;padding: 35px;">
            <span style="color:#353446;font-size: 16px;font-weight: 700;">Message</span>
          </div>

          <div class="solo-vertical-center" style="width: 60%;height: 100%;background-color: white;padding: 35px;">
            <input ng-model="pushData.title" type="text" class="default-inputfield" placeholder="Your push message.." style="width: 100%; height: 40px;font-size: 16px;padding-left: 4px;">
          </div>

        </div>
                
      </div>  
      <!--/Each Field-->  

      <div style="width: 100%;margin-top: 10px; margin-bottom: 10px;">
        <span style="font-size: 14px;color:#AAAAAA;">Choose your recipients.</span>
      </div>

      <!--Each Field-->
      <div style="width: 100%;height: 30px; border-color:#C4C2C2;background-color: #66637A;">
        
        <div style="width: 100%;height: 100%;" class="flex-general-row-wrapper">

          <div style="width: 40%;height: 100%;padding-left: 10px;" class="solo-vertical-center">
            <span style="color:white;font-size: 16px;font-weight: 500;">Audience</span>
          </div>

          <div  style="width: 40%;height: 100%;padding-left: 5px;"class="solo-vertical-center">
            <span style="color:white;font-size: 16px;font-weight: 500;"></span>
          </div>

          <div style="width: 20%;height: 100%;">
            <button class="default-inputfield" style="height:100%;width:100%;background-color: #24213A; color:white;">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Audience
            </button>
          </div>

        </div>
                
      </div>  
      <!--/Each Field--> 

      <!--Each Field-->
      <div style="width: 100%;height: 100px; border-color:#C4C2C2;background-color: #F7F7F7; border-style: solid; border-width:0 1px 1px 1px;">
        
        <div style="width: 100%;height: 100%;" class="flex-general-row-wrapper">

          <div style="width: 40%;height: 100%;padding: 35px;">
            <span style="color:#353446;font-size: 16px;font-weight: 700;">Message</span>
          </div>

          <div class="solo-vertical-center" style="width: 60%;height: 100%;background-color: white;padding: 35px;">
            <input ng-model="pushData.title" type="text" class="default-inputfield" placeholder="Your push message.." style="width: 100%; height: 40px;font-size: 16px;padding-left: 4px;">
          </div>

        </div>
                
      </div>  
      <!--/Each Field-->

    </div>
  </div>

</div>

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
  <div class="intercomm flex-general-column-wrapper-center">    
    <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
  </div> 
</a>
<!--/Slack chat-->

