<div class="cl-mcont table-wrapper" style="background-color:#F4F6F7;" ng-init="initialize()"> 

    <div ng-if="!dataLoading && !loadingError" class="row">  
      <div class="col-md-12"> 
          <div class="tablename-header">
              <h1>Tables</h1>
          </div>              
      </div>  
    </div>

    <div ng-if="!dataLoading && !loadingError" class="row table-items" style="margin-top:15px;">  
      <div class="col-md-12">  
          <div class="table-apps-div">
              <div class="row">
                <div class="col-md-12"> 
                  <div class="flex-general-row-wrapper-center table-tiles">

                    <!--loop-->
                    <div class="tableBx" ng-repeat="t in currentProject.tables">
                        <!--Table Display-->
                        <div class="tableApp cf " ng-show="!tableCreateSpinner[$index] && !tableCreatedTick[$index]" style="background-color:#1476ff" ng-click="goToDataBrowser(t)">

                          <div class="cf">
                            <span class="table-delete pull-right">                           
                              <!--Delete x-->
                              <span ng-show="t.document.type!='user' && t.document.type!='role'" class="cross tableOptionIcon" ng-click="deleteTableModal(t); $event.stopPropagation()">
                              <i class="icon ion-close"></i>
                              </span>

                              <!--Dummy-->
                              <span ng-show="t.document.type=='user' || t.document.type=='role'" class="cross tableOptionIcon" >
                              &nbsp;
                              </span>
                              
                            </span>
                          </div>

                          <center>                            
                             <div>  
                               <!--User-->                        
                               <i ng-if="t.document.type=='user'" class="icon ion-person-stalker tableIcon"></i>
                               <!--Role-->                        
                               <i ng-if="t.document.type=='role'" class="icon ion-unlocked tableIcon"></i>
                               <!--Custom-->                        
                               <i ng-if="t.document.type=='custom'" class="icon ion-ios-list tableIcon"></i>
                             </div>

                             <div>
                              <span class="tableText">{{t.name}}</span>
                            </div>
                          </center> 

                        </div>

                        <!--While Creating-->                    
                        <div class="tableAppCreation cf " ng-show="tableCreateSpinner[$index] || tableCreatedTick[$index]" style="background-color:#6D6D6D">

                          <div class="cf">
                            <span class="table-delete pull-right">

                              <!--Spinner-->
                              <span ng-show="tableCreateSpinner[$index] && !tableCreatedTick[$index]" class="tableOptionIcon">
                              <i class="fa fa-spinner fa-spin" style="font-size: 14px;color:white;cursor:default;"></i>
                              </span>

                              <!--Created Tick-->
                              <span  ng-show="!tableCreateSpinner[$index] && tableCreatedTick[$index]" class="tableOptionIcon">
                              <i class="icon ion-checkmark" style="font-size: 14px;color:white;cursor:default;"></i>
                              </span>

                              <!--Dummy-->
                              <span ng-show="t.document.type=='user' || t.document.type=='role'" class="cross tableOptionIcon" >
                              &nbsp;
                              </span>
                              
                            </span>
                          </div>

                          <center>                            
                             <div>  
                               <!--User-->                        
                               <i ng-if="t.document.type=='user'" class="icon ion-person-stalker tableIcon" style="cursor:default;"></i>
                               <!--Role-->                        
                               <i ng-if="t.document.type=='role'" class="icon ion-unlocked tableIcon" style="cursor:default;"></i>
                               <!--Custom-->                        
                               <i ng-if="t.document.type=='custom'" class="icon ion-ios-list tableIcon" style="cursor:default;"></i>
                             </div>

                             <div>
                              <span class="tableText">{{t.name}}</span>
                            </div>
                          </center> 
                        </div> 
                    
                    </div>                    
                    <!--/loop-->

                    <!--New table-->
                    <div class="tableBxNew">
                        <div class="tableNewApp" ng-click="initiateTableSettings()"> 
                          <!--Beacon-->
                          <div ng-if="beacon && !beacon.firstTable" class="first-table-beacon-container"></div>

                          <center>  
                             <div >                         
                             <i class="icon ion-plus-round"></i>
                             </div>
                             <div>
                             <span class="newTableText">ADD NEW TABLE</span>
                            </div>
                          </center> 

                        </div>
                        

                        <!--Add new table Pop up-->
                        <div id="add-new-table-popup" class="popup-div effect1" >
                          <div class="innerpop">
                            <div class="new-table-name">
                              <span>Enter new table name</span>
                              <input class="newtable" type="text" ng-disabled="!selectedTableType.isRenamable" ng-keyup="checkErrorsForCreate(newTableName,currentProject.tables,'table')" ng-model="$parent.newTableName" placeholder="New Table Name" required style="margin-top:6px;">
                            </div>                            

                            <div style="margin-top:10px;" data-ng-show="!tableErrorForCreate">
                              <span  style="word-break: break-all;">&nbsp;</span>
                            </div>
                            <div style="margin-top:10px;" data-ng-show="tableErrorForCreate">
                              <span  style="word-break: break-all;color:red;font-size:12px;">{{tableErrorForCreate}}</span>
                            </div>

                            <div class="popup-buttons-div flex-general-row-wrapper">

                              <button ng-disabled="isCreatingTable" type="button" ng-click="cancelAddtable()" data-close-stackbox="true" class="custmBtn tableCancelBtn">Cancel</button>

                              <button ng-show="!isCreatingTable && !tableErrorForCreate" type="button" class="custmBtn tableCreateBtn db-color-bg" ng-disabled="tableErrorForCreate" data-close-stackbox="{{!addTablePopup}}" ng-click="addNewTable()">Create</button>

                              <!--Disable on error-->
                              <button ng-show="!isCreatingTable && tableErrorForCreate" type="button" class="custmBtn tableDisableCreateBtn"  style="cursor:default;" data-close-stackbox="{{!addTablePopup}}" >Create</button>

                              <!--While Saving-->
                              <button ng-show="isCreatingTable" type="button" class="custmBtn tableCreateBtn" ng-disabled="tableErrorForCreate">
                                <i class="fa fa-spinner fa-spin"></i>&nbsp;Creating..</button>
                              <!--/While Saving-->
                            </div> 
                          </div>
                        </div>  
                        <!--/Add new table Pop up-->

                    </div>
                    <!--/New table-->

                  </div>                     
                </div>                  
              </div>               
          </div>  
      </div>  
    </div>
    <!--Tables Loading Error-->
    <div ng-show="!dataLoading && loadingError" class="row flex-general-column-wrapper-center" style="height:64vh;">
        <div>
          <h4 style="color:gray;">
            <i class="fa fa-exclamation-triangle"></i>
            {{loadingError}}
          </h4>
        </div>
    </div>
    <!--/Tables Loading Error-->   

    <!--While Loading-->
    <div ng-show="dataLoading && !loadingError" class="row flex-general-column-wrapper-center" style="height:68vh;">
        <div>
          <!--Animated Circle-->
          <div class="cssload-bell">
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
          </div>
          <!--/Animated Circle-->
        </div>       
    </div>
    <!--/While Loading-->
</div>

<!--delete table modal-->
  <div class="modal fade colored-header danger" id="md-deleteTable" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

      <div class="pull-right modalX">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>  
      <div class="flex-general-row-wrapper-center modalH">
        <h3>Delete Table</h3>        
      </div>
      
      <div class="modal-body">
        <div class="text-center">
                 
          <p>To delete, type in the table name.</p>
          <center>
            <input type="text" class="form-control" ng-model="confirmTableName" required style="width:400px;"/>
          </center> 
          <div class="flex-general-row-wrapper-center modalF">        
            <button ng-show="!isDeletingTable" type="button" class="btn btn-danger btn-flat" style="width:400px;" ng-click="deleteTable(selectedTable)">DELETE TABLE</button>

            <!--While Deleting-->
            <button ng-show="isDeletingTable" type="button" class="btn btn-danger btn-flat" style="width:400px;">
              <i class="fa fa-spinner fa-spin"></i>&nbsp;DELETING TABLE..</button>
            <!--/While Deleting-->
          </div>         
        </div>
      </div>      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->