
<div class="" style="padding:7px !important;"> 

    <div class="flex-general-column-wrapper-center" style="">       
      <div>
        <div class="flex-general-column-wrapper-center" style="width:240px;">
          <h1>Tables</h1>
        </div>  

          <!--Search Box-->
          <div class="flex-general-row-wrapper table-search-wrap">
            <!--Search Icon-->           
            <i class="icon ion-ios-search-strong searchtablefun" style="font-size: 28px;margin-top: -7px !important;color:#bcb4b0;" ></i>     

            <!--Search Input-->
            <div class="searchtablefun"  style="height:100%">
              <input type="text" class="search-tables-input" style="width:240px;height:100%;" placeholder="Search Table" ng-model="searchThisName">
            </div>

            <!--Cross Icon-->           
            <i class="icon ion-close searchtablefun" ng-click="clearSearchText()" style="font-size: 17px; margin-top: 2px !important;color:#bcb4b0;" ></i>

          </div> 

      </div>         
    </div>

</div>

<div class="cl-mcont table-wrapper" ng-init="initialize()">    

    <div ng-if="!dataLoading && !loadingError" class="row table-items" style="margin-top:15px;">  
      <div class="col-md-12">  
          <div class="table-apps-div">
              <div class="row">
                <div class="col-md-12"> 
                  <div class="flex-general-row-wrapper-center table-tiles">

                    <!--loop-->
                    <div class="tableBx" ng-repeat="t in currentProject.tables | filter:searchThisName">
                        <!--Table Display-->
                        <div class="tableApp cf " ng-show="!tableCreateSpinner[$index] && !tableCreatedTick[$index]" style="background-color:#1476ff" ng-click="goToDataBrowser(t)">

                          <div class="cf">
                            <span class="table-delete pull-right">                           
                              <!--Delete x-->
                              <span ng-show="t.document.type!='user' && t.document.type!='role'" class="cross tableOptionIcon" ng-click="deleteTableModal(t); $event.stopPropagation()">
                              <i class="icon ion-close"></i>
                              </span>

                              <!--Dummy-->
                              <span ng-show="t.document.type=='user' || t.document.type=='role'" class="cross tableOptionIcon" >
                              &nbsp;
                              </span>
                              
                            </span>
                          </div>

                          <center>                            
                             <div>  
                               <!--User-->                        
                               <i ng-if="t.document.type=='user'" class="icon ion-person-stalker tableIcon"></i>
                               <!--Role-->                        
                               <i ng-if="t.document.type=='role'" class="icon ion-unlocked tableIcon"></i>
                               <!--Custom-->                        
                               <i ng-if="t.document.type=='custom'" class="icon ion-ios-list tableIcon"></i>
                             </div>

                             <div>
                              <span class="tableText">{{t.name}}</span>
                            </div>
                          </center> 

                        </div>

                        <!--While Creating-->                    
                        <div class="tableAppCreation cf " ng-show="tableCreateSpinner[$index] || tableCreatedTick[$index]" style="background-color:#6D6D6D">

                          <div class="cf">
                            <span class="table-delete pull-right">

                              <!--Spinner-->
                              <span ng-show="tableCreateSpinner[$index] && !tableCreatedTick[$index]" class="tableOptionIcon">
                              <i class="fa fa-spinner fa-spin" style="font-size: 14px;color:white;cursor:default;"></i>
                              </span>

                              <!--Created Tick-->
                              <span  ng-show="!tableCreateSpinner[$index] && tableCreatedTick[$index]" class="tableOptionIcon">
                              <i class="icon ion-checkmark" style="font-size: 14px;color:white;cursor:default;"></i>
                              </span>

                              <!--Dummy-->
                              <span ng-show="t.document.type=='user' || t.document.type=='role'" class="cross tableOptionIcon" >
                              &nbsp;
                              </span>
                              
                            </span>
                          </div>

                          <center>                            
                             <div>  
                               <!--User-->                        
                               <i ng-if="t.document.type=='user'" class="icon ion-person-stalker tableIcon" style="cursor:default;"></i>
                               <!--Role-->                        
                               <i ng-if="t.document.type=='role'" class="icon ion-unlocked tableIcon" style="cursor:default;"></i>
                               <!--Custom-->                        
                               <i ng-if="t.document.type=='custom'" class="icon ion-ios-list tableIcon" style="cursor:default;"></i>
                             </div>

                             <div>
                              <span class="tableText">{{t.name}}</span>
                            </div>
                          </center> 
                        </div> 
                    
                    </div>                    
                    <!--/loop-->

                    <!--New table-->
                    <div class="tableBxNew">
                        <div class="tableNewApp" ng-click="initiateTableSettings()"> 
                          <!--Beacon-->
                          <div ng-if="beacon && !beacon.firstTable" class="first-table-beacon-container"></div>

                          <center>  
                             <div >                         
                             <i class="icon ion-plus-round"></i>
                             </div>
                             <div>
                             <span class="newTableText">ADD NEW TABLE</span>
                            </div>
                          </center> 

                        </div>
                        

                        <!--Add new table Pop up-->
                        <div id="add-new-table-popup" class="popup-div effect1" >
                          <div class="innerpop">
                            <div class="new-table-name">
                              <span>Enter new table name</span>
                              <input class="newtable" type="text" ng-disabled="!selectedTableType.isRenamable" ng-keyup="checkErrorsForCreate(newTableName,currentProject.tables,'table')" ng-model="$parent.newTableName" placeholder="New Table Name" required style="margin-top:6px;">
                            </div>                            

                            <div style="margin-top:10px;" data-ng-show="!tableErrorForCreate">
                              <span  style="word-break: break-all;">&nbsp;</span>
                            </div>
                            <div style="margin-top:10px;" data-ng-show="tableErrorForCreate">
                              <span  style="word-break: break-all;color:red;font-size:12px;">{{tableErrorForCreate}}</span>
                            </div>

                            <div class="popup-buttons-div flex-general-row-wrapper">

                              <button ng-disabled="isCreatingTable" type="button" ng-click="cancelAddtable()" data-close-stackbox="true" class="custmBtn tableCancelBtn">Cancel</button>

                              <button ng-show="!isCreatingTable && !tableErrorForCreate" type="button" class="custmBtn tableCreateBtn db-color-bg" ng-disabled="tableErrorForCreate" data-close-stackbox="{{!addTablePopup}}" ng-click="addNewTable()">Create</button>

                              <!--Disable on error-->
                              <button ng-show="!isCreatingTable && tableErrorForCreate" type="button" class="custmBtn tableDisableCreateBtn"  style="cursor:default;" data-close-stackbox="{{!addTablePopup}}" >Create</button>

                              <!--While Saving-->
                              <button ng-show="isCreatingTable" type="button" class="custmBtn tableCreateBtn" ng-disabled="tableErrorForCreate">
                                <i class="fa fa-spinner fa-spin"></i>&nbsp;Creating..</button>
                              <!--/While Saving-->
                            </div> 
                          </div>
                        </div>  
                        <!--/Add new table Pop up-->

                    </div>
                    <!--/New table-->

                  </div>                     
                </div>                  
              </div>               
          </div>  
      </div>  
    </div>
    <!--Tables Loading Error-->
    <div ng-show="!dataLoading && loadingError" class="row flex-general-column-wrapper-center" style="height:64vh;">
        <div>
          <h4 style="color:gray;">
            <i class="fa fa-exclamation-triangle"></i>
            {{loadingError}}
          </h4>
        </div>
    </div>
    <!--/Tables Loading Error-->   

    <!--While Loading-->
    <div ng-show="dataLoading && !loadingError" class="row flex-general-column-wrapper-center" style="height:68vh;">
        <div>
          <!--Animated Circle-->
          <div class="cssload-bell">
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
              <div class="cssload-inner"></div>
            </div>
          </div>
          <!--/Animated Circle-->
        </div>       
    </div>
    <!--/While Loading-->
</div>

<!--delete table modal-->
  <div class="modal fade colored-header danger" id="md-deleteTable" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">      

      <div style="height:55px; width:100%;padding:13px;">
        <div class="pull-left" style="padding-left:8px;">
          <span style="font-size:18px;">Delete Table</span>
        </div>          
      </div>

      <div class="modal-body" style="border-top:1px solid #dddbdb;">
        <div class="text-center">
                 
          <p>To delete <span style="font-weight:700;">{{selectedTable.name}}</span>, type in the table name.</p>
          <center>
            <input type="text" class="form-control" ng-model="confirmTableName" required style="width:400px;"/>
          </center>                   
        </div>
      </div>

      <div class="modal-footer">        
        <button type="button" class="btn btn-default cb-modal-default-btn" data-dismiss="modal">Close</button>

        <!--Delete-->
        <button type="button" ng-show="!isDeletingTable" ng-click="deleteTable(selectedTable)" class="btn btn-danger" style="width:120px; border-radius:2px !important;">Delete table</button>  

         <!--While Deleting-->
        <button type="button" ng-show="isDeletingTable" class="btn btn-danger" style="width:130px; border-radius:2px !important;"><i class="fa fa-spinner fa-spin"></i>&nbsp;Deleting Table..</button> 
      </div> 

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
        <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->